.modal-con{
    width:720px;
    height:600px;
    margin-left:-360px;
    margin-top:-300px;
    overflow-y: scroll;
}
.modal-input-group label{
    width:40%;
}
.modal-form .text{
    font-size: 16px;
}
.modal-form .modal-img{
    width:178px;
    height:112px;
}
.modal-right-part{
    float: right;
    margin-right:10px;
}
.modal-left-part{
    float: left;
}
.modal-btn-group{
    clear: both;
}