.img-upload{
    position: relative;
    display: inline-block;
}
.img-upload .btn-upload{
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px dashed #99D3F5;
    border-radius: 4px;
    /*padding: 4px 12px;*/
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 100px;
    width:100px;
    height:100px;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
}

.btn-upload input{
    position:absolute;
    font-size:50px;
    right: 0;
    top: 0;
    opacity: 0;
    border:none;
    /*z-index: 999999;*/
}
.btn-upload:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.imgList{
    display: inline-block;
    text-align: right;
}
.imgList .list{
    float: left;
    display: inline-block;
    list-style-type: none;
    width:100px;
    height:100px;
    border:1px solid #000;
}
.imgList li img{
    width:100%;
}