<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix">
          <div class="input-group">
            <input type="text" name="oilCard" value="" placeholder="请输入加油卡号" [(ngModel)]="search_oilCard">
            <button class="text-btn text-sub" (click)="getYoukaRecordList(0);">搜索</button>
          </div>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>订单号</th>
            <th>加油卡号</th>
            <th>到账时间</th>
            <th>到账金额</th>
            <th>套餐描述</th>
            <th>总期数</th>
            <th>到账期数</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total}; let i = index">
            <td>{{item.charge_order_id}}</td>
            <td>{{item.oil_card}}</td>
            <td>{{item.create_time}}</td>
            <td>{{item.price}}</td>
            <td>{{item.described}}</td>
            <td>{{item.total_periods}}</td>
            <td>{{item.used_periods}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleModal()">查看</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls *ngIf="tableList?.length" (pageChange)="getYoukaRecordList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!modalShow">
  <div class="modal-con">
    <h3 class="modal-title">订单详情</h3>
    <form class="modal-form">
      <div class="modal-input-group">
        <label>加油卡号</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>订单流水号</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>交易流水号</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>用户</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>类型(分期)</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>已到账期数</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>充值日期</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>最近到账时间</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>金额</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>每期金额</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>套餐类型</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>状态</label>
        <div class="text">0</div>
      </div>
      <div class="modal-btn-group">
        <button (click)="toggleModal()">关闭</button>
      </div>
    </form>
    <div class="modal-close" (click)="toggleModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
