<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <a class="text-btn float-right margin-large-right" href="javascript:void(0);" (click)="toggleModal()">添加</a>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>类型名称</th>
            <th>类型父节点</th>
            <th>级别</th>
            <th>排序</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.type_name}}</td>
            <td>{{item.p_goods_type_id || '/'}}</td>
            <td>{{item.level}}</td>
            <td>{{item.sort}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleTypeAttrListModal(item.goods_type_id)">编辑类型参数</a>
                <a class="table-btn" href="javascript:void(0);" (click)="toggleModal(item)">编辑</a>
                <a class="table-btn" [routerLink]="'/admin/goods-type-list/' + item.goods_type_id">品牌</a>
                <a class="table-btn" href="javascript:void(0);" (click)="removeGoodsType(item.goods_type_id)">删除</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls (pageChange)="getStoreGoodsTypeList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!editTypeModalShow">
  <div class="modal-con">
    <div class="modal-close" (click)="toggleModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <h3 class="modal-title" [class.hidden]="!modalData.goods_type_id">编辑</h3>
    <h3 class="modal-title" [class.hidden]="modalData.goods_type_id">添加</h3>
    <form class="modal-form" (ngSubmit)="editSubmit()">
      <div class="modal-input-group">
        <label>类型名称</label>
        <input type="text" name="name" [(ngModel)]="modalData.type_name">
      </div>
      <div class="modal-input-group">
        <label>类型父节点</label>
        <select-box [options]="goodsTypeOptions"
                    [first]="{value:'', text:'/'}"
                    [value]="modalData.p_goods_type_id"
                    (optionSelect)="modalData.p_goods_type_id = $event"></select-box>
      </div>
      <div class="modal-input-group">
        <label>级别</label>
        <input type="text" name="level" [(ngModel)]="modalData.level">
      </div>
      <div class="modal-input-group">
        <label>排序</label>
        <input type="text" name="sort" [(ngModel)]="modalData.sort">
      </div>
      <div class="modal-btn-group">
        <button type="submit">保存</button>
      </div>
    </form>
  </div>
</div>
<!--商品类型参数列表-->
<div class="modal-wrapper"
     [class.hidden]="!typeAttrListModalShow || editTypeAttrModalShow || typeAttrValListModalShow || editTypeAttrValModalShow">
  <div class="modal-con type-attr-list-modal">
    <div class="modal-close" (click)="toggleTypeAttrListModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!goodsTypeAttrList">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="goodsTypeAttrList">
      <h3 class="modal-title">类型参数</h3>
      <div class="modal-btn-group padding clearfix">
        <button class="float-right" (click)="toggleEditTypeAttrModal()">添加参数</button>
      </div>
      <table class="modal-table" border="1px">
        <thead>
        <tr>
          <th>参数名称</th>
          <th>是否销售属性</th>
          <th>排序</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of goodsTypeAttrList">
          <td>{{item.name}}</td>
          <td>{{item.is_sku == 0 ? '否' : '是'}}</td>
          <td>{{item.sort}}</td>
          <td>
            <a href="javascript:void(0)" class="ctrl-btn" (click)="toggleTypeAttrValListModal(item.param_id)">编辑参数值</a>
            <a href="javascript:void(0)" class="ctrl-btn" (click)="toggleEditTypeAttrModal(item)">编辑</a>
            <a href="javascript:void(0)" class="ctrl-btn" (click)="removeTypeAttr(item.param_id)">删除</a>
          </td>
        </tr>
        <tr *ngIf="!(goodsTypeAttrList?.length)">
          <td colspan="4">暂无相关数据</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
<!--编辑类型参数-->
<div class="modal-wrapper" [class.hidden]="!editTypeAttrModalShow">
  <div class="modal-con edit-type-attr-modal">
    <div class="modal-close" (click)="toggleEditTypeAttrModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <h3 class="modal-title" [class.hidden]="!editTypeAttrModalData.param_id">编辑</h3>
    <h3 class="modal-title" [class.hidden]="editTypeAttrModalData.param_id">添加</h3>
    <form class="modal-form" (ngSubmit)="editTypeAttrSubmit()">
      <input type="hidden" name="paramId" *ngIf="editTypeAttrModalData.param_id"
             [(ngModel)]="editTypeAttrModalData.param_id">
      <input type="hidden" name="goodsTypeId" [(ngModel)]="curGoodsTypeId">
      <div class="modal-input-group">
        <label>参数名称</label>
        <input type="text" name="name" [(ngModel)]="editTypeAttrModalData.name">
      </div>
      <div class="modal-input-group">
        <label>是否销售属性</label>
        <div class="modal-radio-group">
          <input id="typeAttrSku1" type="radio" name="isSku" value="1" [(ngModel)]="editTypeAttrModalData.is_sku">
          <label for="typeAttrSku1">是</label>
        </div>
        <div class="modal-radio-group">
          <input id="typeAttrSku0" type="radio" name="isSku" value="0" [(ngModel)]="editTypeAttrModalData.is_sku">
          <label for="typeAttrSku0">否</label>
        </div>
      </div>
      <div class="modal-input-group">
        <label>排序</label>
        <input type="text" name="sort" [(ngModel)]="editTypeAttrModalData.sort">
      </div>
      <div class="modal-btn-group">
        <button type="submit">保存</button>
      </div>
    </form>
  </div>
</div>
<!--商品类型参数值列表-->
<div class="modal-wrapper" [class.hidden]="!typeAttrValListModalShow || editTypeAttrValModalShow">
  <div class="modal-con type-attr-val-list-modal">
    <div class="modal-close" (click)="toggleTypeAttrValListModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!goodsTypeAttrValList">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="goodsTypeAttrValList">
      <h3 class="modal-title">类型参数值</h3>
      <div class="modal-btn-group padding clearfix">
        <button class="float-right" (click)="toggleEditTypeAttrValModal()">添加参数</button>
      </div>
      <table class="modal-table" border="1px">
        <thead>
        <tr>
          <th>参数值</th>
          <th>排序</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of goodsTypeAttrValList">
          <td>{{item.value}}</td>
          <td>{{item.sort}}</td>
          <td>
            <a href="javascript:void(0)" class="ctrl-btn" (click)="toggleEditTypeAttrValModal(item)">编辑</a>
            <a href="javascript:void(0)" class="ctrl-btn" (click)="removeTypeAttrVal(item.value_id)">删除</a>
          </td>
        </tr>
        <tr *ngIf="!(goodsTypeAttrValList?.length)">
          <td colspan="4">暂无相关数据</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
<!--编辑类型参数值-->
<div class="modal-wrapper" [class.hidden]="!editTypeAttrValModalShow">
  <div class="modal-con edit-type-attr-val-modal">
    <div class="modal-close" (click)="toggleEditTypeAttrValModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <h3 class="modal-title" [class.hidden]="!editTypeAttrValModalData.value_id">编辑</h3>
    <h3 class="modal-title" [class.hidden]="editTypeAttrValModalData.value_id">添加</h3>
    <form class="modal-form" (ngSubmit)="editTypeAttrValSubmit()">
      <input type="hidden" name="valueId" *ngIf="editTypeAttrValModalData.value_id"
             [(ngModel)]="editTypeAttrValModalData.value_id">
      <input type="hidden" name="paramId" [(ngModel)]="editTypeAttrValModalData.param_id">
      <input type="hidden" name="goodsTypeId" [(ngModel)]="curGoodsTypeId">
      <div class="modal-input-group">
        <label>参数值</label>
        <input type="text" name="value" [(ngModel)]="editTypeAttrValModalData.value">
      </div>
      <div class="modal-input-group">
        <label>排序</label>
        <input type="text" name="sort" [(ngModel)]="editTypeAttrValModalData.sort">
      </div>
      <div class="modal-btn-group">
        <button type="submit">保存</button>
      </div>
    </form>
  </div>
</div>
