.modal-con{
  width: 500px;
  height: 600px;
  margin-left: -230px;
  margin-top: -300px;
}

.submit-con {
  width: 400px;
  height: 230px;
  margin-left: -200px;
  margin-top: -115px;
}

.submit-con .btn{
  display: inline-block;
  margin:0 auto;
  text-align: center;
  margin-top:30px;
}

.submit-con .btn:nth-child(1){
    margin-right: 40px;
    margin-left: 56px;
}
.modal-input-group {
    font-size: 16px;
    padding-bottom:10px; 
}
.modal-input-group .text{
  width:160px;
}
.manager-table{
  /*overflow-y: hidden;  */
  overflow-x: scroll;
  margin:0;
}
.manager-table th{
  white-space:nowrap;
}
.manager-table td{
  white-space:nowrap;
}
.btn{
  background: #fff;
}

