<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix">
          <div class="input-group">
            <label>选择查询</label>
              <select-box [options]="youkaFunction.youkaSelectOptions2" [first]="{value:'',text:'请选择'}" (optionSelect)="modalData.nowData = $event"></select-box>
             <input type="text" name="oilCard" value="" placeholder="请输入" [(ngModel)]="modalData.searchData">
          </div>
          <div class="input-group">
            <button class="text-btn text-sub" (click)="selectValue()">搜索</button>
          </div>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>订单号</th>
            <th>加油卡号</th>
            <th>用户账号</th>         
            <th>最近到账时间</th>
            <th>交易方式</th>
            <th>总金额</th>
            <th>每期金额</th>
            <th>套餐类型</th>
            <th>状态</th>            
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total}; let i = index">
            <td>{{item.sn}}</td>
            <td>{{item.oil_card}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.modify_time}}</td>
            <td>{{getYoukaPayStyle(item.trade_mode)}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.price}}</td>
            <td>{{getTaocanClassText(item.classify)}}</td>
            <td>{{getTaocanOrderStatusText(item.status)}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleModal(item)">查看</a>
                <a class="table-btn" href="javascript:void(0);" (click)="submitModal(item.charge_order_id)" [class.hidden]="item.status!=1">返还</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls *ngIf="tableList?.length" (pageChange)="getYoukaRecordList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!modalShow">
  <div class="modal-con">
    <h3 class="modal-title">订单详情</h3>
    <form class="modal-form">
      <div class="modal-input-group">
        <label>订单流水号</label>
        <div class="text">{{modalData.sn}}</div>
      </div>
      <div class="modal-input-group">
        <label>加油卡号</label>
        <div class="text">{{modalData.oilCard}}</div>
      </div>
      <div class="modal-input-group">
        <label>用户账号</label>
        <div class="text">{{modalData.mobile}}</div>
      </div>
      <div class="modal-input-group">
        <label>分期数</label>
        <div class="text">{{modalData.totalPeriods}}</div>
      </div>
      <div class="modal-input-group">
        <label>已到账期数</label>
        <div class="text">{{modalData.usedPeriods}}</div>
      </div>
      <div class="modal-input-group">
        <label>每期金额</label>
        <div class="text">{{modalData.price}}</div>
      </div>
      <div class="modal-input-group">
        <label>付款金额</label>
        <div class="text">{{modalData.amount}}</div>
      </div>
      <div class="modal-input-group">
        <label>套餐类型</label>
        <div class="text">{{getTaocanClassText(modalData.classify)}}</div>
      </div>
      <div class="modal-input-group">
        <label>业务项</label>
        <div class="text">{{modalData.described}}</div>
      </div>
      <div class="modal-input-group">
        <label>充值日期</label>
        <div class="text">{{modalData.payTime}}</div>
      </div>
      <div class="modal-input-group">
        <label>最近到账时间</label>
        <div class="text">{{modalData.modifyTime}}</div>
      </div>
      <div class="modal-input-group">
        <label>状态</label>
        <div class="text">{{getTaocanOrderStatusText(modalData.status)}}</div>
      </div>
      <div class="modal-btn-group">
        <button (click)="toggleModal()">关闭</button>
      </div>
    </form>
    <div class="modal-close" (click)="toggleModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!submitShow">
  <div class="modal-con submit-con">
    <h3 class="modal-title">确认返回吗？</h3>
    <form class="modal-form" (ngSubmit)="modalSubmit(modalData.chargeOrderId)"> 
      <div class="modal-btn-group btn">
         <button type="submit">确定</button>
      </div>
      <div class="modal-btn-group btn">
        <button (click)="submitModal()">取消</button>
      </div>
    </form>
    <div class="modal-close" (click)="submitModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
