<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix">
          <div class="input-group">
            <label>云洗账号</label>
            <input type="text" name="account" value="">
          </div>
          <div class="input-group">
            <label>时间段</label>
            <input type='text' value={{selDate}} (change)="setInputDate($event)"/>
            <date-picker
              [value]="value"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [disableDays]="disableDays"
              [toContainPrevMonth]="toContainPrevMonth"
              [toContainNextMonth]="toContainNextMonth"
              (selectedDate)='setDate($event)'></date-picker>
          </div>
          <div class="input-group">
            <label>城市</label>
            <city-picker></city-picker>
          </div>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>序号</th>
            <th>会员账号</th>
            <th>车牌号</th>
            <th>罚款金额</th>
            <th>云洗服务费</th>
            <th>佣金</th>
            <th>支付总额</th>
            <th>订单时间</th>
            <th>所属城市</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex }; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.account}}</td>
            <td>{{item.car_num}}</td>
            <td>{{item.fine}}</td>
            <td>{{item.charge}}</td>
            <td>{{item.commission}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.order_time}}</td>
            <td>{{item.position}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="#">查看明细</a>
                <a class="table-btn" href="#">新增</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="curPageIndex = $event" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
