.modal-con {
  width: 600px;
  height: 600px;
  margin-left: -300px;
  margin-top: -300px;
}
.check-con{
   width: 780px;
   margin-left: -390px;
   overflow-y:scroll;
}
.modal-h3-title{
  color:#009be8;
  border-bottom:4px #009be8 solid;
  margin:20px 0;
}
.modal-h3{
  color:#009be8;
}
.express-con{
  width:400px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
}
.modal-input-group .img-file li{
  width:19%;
  display: inline-block;
}
.modal-detail-item label, .modal-detail-item .value {
  padding-top:0;
  padding-bottom:10px;
}
.modal-input-group table{
  font-size: 15px;
}
.modal-input-group table tr td,.modal-input-group table tr th{
  width:30%;
  text-align: center;
}
