<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="peccancyDetailsList(1)">
          <!-- <div class="input-group">
            <label>层级</label>
            <select-box [options]="usersFunction.uplevelTopClassOptions" [name]="filterData.level"
                        (optionSelect)="filterData.level = $event"></select-box>
          </div>
          <div class="input-group">
            <label>等级</label>
            <select-box [options]="usersFunction.userLevelOptions" [name]="filterData.memberLevel"
                        (optionSelect)="filterData.memberLevel = $event"></select-box>
          </div> -->
          <!-- <button class="text-btn text-sub" type="submit">搜索</button> -->
          <button class="text-sub close-btn" style="color:#eee;" type="button" (click)="addtoggleModal()" *ngIf="dataList" [class.hidden]="dataList.status != -2 && dataList.status != 0">添加违章记录</button> 
        </form>
      </div>
      <div class="manager-table">
        <table>
           <tbody>
            <tr *ngIf="dataList" class="weizhangListInfo">
                <td>订单编号:{{dataList.sn}}</td>
                <td>车牌号:{{dataList.car_number}}</td>
                <td>姓名:{{dataList.name}}</td>
                <td>手机号:{{dataList.mobile}}</td>
                <td>车架号:{{dataList.frame_number}}</td>
                <td>发动机:{{dataList.engine_number}}</td>
                <td>下单时间:{{dataList.create_time}}</td>
              </tr> 
          </tbody>
        </table>
        <table>
          <thead>
          <tr>
            <th>违章编号</th>
            <th>罚款</th>
            <th>扣分</th>
            <th>违章时间</th>
            <th>违章发生地点</th>
            <th>处罚原因</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
           <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.sn}}</td>
            <td>{{item.punish_money}}</td>
            <td>{{item.punish_points}}</td>
            <td>{{item.peccancy_date}}</td>
            <td>{{item.address}}</td>
            <td>{{item.punish_reason}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn close-btn" href="javascript:void(0);" [class.hidden]="dataList.status != -2 && dataList.status != 0" (click)="addtoggleModal(item)">修改</a>
                <a class="table-btn close-btn" href="javascript:void(0);" [class.hidden]="dataList.status != -2 && dataList.status != 0" (click)="verificationConfirm(item)">删除</a>
              </div>
            </td>
          </tr> 
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls (pageChange)="peccancyDetailsList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]='!addWeiZhangInfoShow' *ngIf="modalData">
  <div class="content" [style.height]="contentHeight + 'px'" >
       <div class="modal-con">
        <h3 class="modal-title" [class.hidden]="modalData.peccancy_id">添加违章记录</h3>
        <h3 class="modal-title" [class.hidden]="!modalData.peccancy_id">修改</h3>
        <form  class="modal-form" #updateForm="ngForm" (ngSubmit)="modalSubmit(updateForm)">
          <div class="modal-detail-content">
            <div class="modal-input-group">
                <label>罚款：</label>
                <input type="text" name="punishMoney" [(ngModel)]="modalData.punish_money" #punishMoney="ngModel" required validateNumber>
                <p *ngIf="punishMoney.errors?.required" class="validate">必填</p>
                <p *ngIf="punishMoney.errors?.validateNumber" class="validate">请填写数字</p>
            </div>
            <div class="modal-input-group">
                <label>扣分：</label>
                <input type="text" name="punishPoints" [(ngModel)]="modalData.punish_points" #punishPoints="ngModel" required validateNumber>
                <p *ngIf="punishPoints.errors?.required" class="validate">必填</p>
                <p *ngIf="punishPoints.errors?.validateNumber" class="validate">请填写数字</p>
            </div>
            <div class="modal-input-group">
                <label>时间：</label>
                <input type="text" name="peccancyDate" [(ngModel)]="modalData.peccancy_date" #peccancyDate="ngModel" required>
                <div style="font-size:14px;float:right;">时间格式例子:2017-03-07 12:12:12</div>
                <p *ngIf="peccancyDate.errors?.required" class="validate">必填</p>
                <!-- <p *ngIf="peccancyDate.errors?.validateDate" class="validate">时间格式错误</p> -->
            </div>
            <div class="modal-input-group">
                <label>地点：</label>
                <input type="text" name="address" [(ngModel)]="modalData.address" #address="ngModel" required>
                <p *ngIf="address.errors?.required" class="validate">必填</p>
            </div>
            <div class="modal-input-group">
                <label>处罚原因：</label>
                <textarea type="text" name="punishReason" [(ngModel)]="modalData.punish_reason" #punishReason="ngModel" required></textarea> 
                <p *ngIf="punishReason.errors?.required" class="validate">必填</p> 
            </div>
          </div>
          <div class="modal-btn-group">
            <button type="submit">确定</button>
            <button type="button" (click)="addtoggleModal()">关闭</button>
          </div>
        </form>
        <div class="modal-close" (click)="addtoggleModal()">
          <i class="icon-font">&#xe6e9;</i>
        </div>
        </div>
  </div>
</div>