.modal-con {
  width: 500px;
  height: 520px;
  margin-left: -250px;
  margin-top: -260px;
}
.manager-table{
  /*overflow-y: hidden;  */
  /*overflow-x: scroll;*/
  overflow-x: scroll;
  margin:0;
}
.manager-table th{
  white-space:nowrap;
}
.manager-table td{
  white-space:nowrap;
  padding:0 6px;
}
.weizhangListInfo td{
  color:#009be8;
}
.close-btn{
  padding:4px;
  background: #009be8;
  color:#eee;
}