<div id="{{id}}" class="editor-container">
  <div class="menu" contenteditable="false">
    <div class="group">
      <div data-action="bold" class="item" (click)="toggleFontStyle($event)"><i class="fa fa-bold"></i></div>
      <div data-action="italic" class="item" (click)="toggleFontStyle($event)"><i class="fa fa-italic"></i></div>
      <div data-action="underline" class="item" (click)="toggleFontStyle($event)"><i class="fa fa-underline"></i></div>
      <div data-action="selectFont" class="item" (click)="toggleFontStyle($event)">
        <i class="fa fa-font"></i>
      </div>
    </div>
    <div class="group">
      <div data-action="makeLink" class="item" (click)="toggleFontStyle($event)">
        <i class="fa fa-link"></i></div>
      <div data-action="makeOrderedList" class="item" (click)="toggleFontStyle($event)"><i class="fa fa-list"></i></div>
      <div data-action="insertImage" class="item" (click)="toggleFontStyle($event)">
        <i class="fa fa-picture-o"></i>
      </div>
      <div data-action="increaseQuoteLevel" class="item" (click)="toggleFontStyle($event)"><i
        class="fa fa-quote-right"></i></div>
    </div>

    <div class="group">
      <div data-action="makeHeading" class="item" (click)="toggleFontStyle($event)"><i class="fa fa-header"></i></div>
      <div data-action="alignLeft" class="item" (click)="toggleFontStyle($event)"><i class="fa fa-align-left"></i></div>
      <div data-action="alignCenter" class="item" (click)="toggleFontStyle($event)"><i class="fa fa-align-center"></i>
      </div>
      <div data-action="alignRight" class="item" (click)="toggleFontStyle($event)"><i class="fa fa-align-right"></i>
      </div>
    </div>

    <div class="group">
      <div data-action="undo" class="item" (click)="toggleFontStyle($event)"><i class="fa fa-undo"></i></div>
      <div data-action="redo" class="item" (click)="toggleFontStyle($event)"><i class="fa fa-undo flip"></i></div>
    </div>
  </div>
  <div class="editor" [style.height]="height"></div>
</div>
