<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix">
          <div class="input-group">
            <!--<select-box [options]="insuranceFunction.insuranceOrderFilterTypeOptions" [first]="false"></select-box>-->
            <label>关键词</label>
            <input type="text" name="account" value="" [(ngModel)]="filterData.searchName">
          </div>
          <div class="input-group">
            <label>投保城市</label>
            <city-picker></city-picker>
          </div>
          <button class="text-btn text-sub" (click)="getInsuranceOrderList(0)">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>订单编号</th>
            <!--<th>智通业务号</th>-->
            <!--<th>支付类型</th>-->
            <!--<th>交易流水号</th>-->
            <th>车牌号码</th>
            <th>车主姓名</th>
            <th>车主手机号码</th>
            <th>保险公司</th>
            <th>投保城市</th>
            <th>支付时间</th>
            <!--<th>返回结果</th>-->
            <th>状态</th>
            <th>核保失败的原因</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex }; let i = index">
            <td>{{item.sn}}</td>
            <!--<td>{{item.biz_id}}</td>-->
            <!--<td>{{funcServer.getPayTypeText(item.trade_mode)}}</td>-->
            <!--<td>{{item.trade_code}}</td>-->
            <td>{{item.car_number}}</td>
            <td>{{item.name}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.insurer_name}}</td>
            <td>{{item.city_name}}</td>
            <td>{{item.pay_time}}</td>
            <!--<td>{{insuranceFunction.getInsuranceOrderSyncTypeText(item.synch_flag)}}</td>-->
            <td>{{insuranceFunction.getInsuranceOrderStatusText(item.status)}}</td>
            <td>{{item.msg}}</td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="getInsuranceOrderList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
