.read-modal-wrapper .modal-con{
  width: 460px;
  height: 480px;
  margin-left: -230px;
  margin-top: -240px;
}
.manager-table{
  /*overflow-y: hidden;  */
  overflow-x: scroll;
  margin:0;
}
.manager-table th{
  white-space:nowrap;
}
.manager-table td{
  white-space:nowrap;
}
