.manager-table tbody td{
  padding:0 2px;
}

.modal-con {
  width: 760px;
  height: 620px;
  margin-left: -380px;
  margin-top: -310px;
  overflow-y:scroll;
}
.modal-title{
  font-size:20px;
  margin:10px 0 6px 0;
}
.modal-form{
  margin:0 auto;
  width:460px;
}

.modal-form .modal-input-group{
    width:440px;
    padding-bottom:10px;
}

.modal-input-group input{
    width:50%;
}
.modal-input-group label{
    width:48%;
}

.modal-form .table-btn{
    font-weight: block;
}

.modal-form .sendMsg{
    border:1px solid #009be8;
    border-radius: 8px;
    padding:10px;
    margin-top:10px;
    width:140px;
}
.sendMsg a{
   font-size:16px;
}

.modal-form .table-btn:hover{
    color:#009be8;
}
.modal-need{
  color:red;
}

.modal-form .modal-file{
  width:240px;
  border:none;
}
.modal-form .infoWaring{
  color:red;
  font-size: 16px;
}
.modal-form .prompt{
  font-size: 16px;
}
.modal-form .len{
  display: inline-block;
  width:18px;
  height:18px;
  text-align: center;
  line-height: 18px;
  border: 1px solid red;
  border-radius: 50%;
  font-size:14px;
}
