<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix">
          <div class="input-group">
            <label>姓名/手机/订单编号</label>
            <input type="text" name="searchName" [(ngModel)]="modalData.searchName">
          </div>
          <button class="text-btn text-sub" type="submit" (click)="getCanWeiZhangList(1)">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr class="canweizhangThead">
            <th>编号</th>
            <th>订单编号</th>
            <th>车牌号</th>
            <th>姓名</th>
            <th>手机号</th>
            <!-- <th>违章笔数</th> -->
            <th>罚款</th>
            <th>扣分</th>
            <th>服务费</th>
            <th>车行易</th>
            <th>订单总额</th>
            <th>实收金额</th>
            <th>利润</th>
            <!-- <th>云洗利润</th> -->
            <!-- <th>状态</th> -->
            <!-- <th>车行易保存订单状态</th> -->
            <!-- <th>车行易订单状态</th>  -->
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex }; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.sn}}</td>
            <td>{{item.car_number}}</td>
            <td>{{item.name}}</td>
            <td>{{item.mobile}}</td>
            <!-- <td>{{item.p_count}}</td> -->
            <!-- <td>{{item.money}}</td> -->
            <td>{{item.punish_money}}</td>
            <td>{{item.punish_points}}</td>
            <td>{{item.service_fee}}</td>
            <td>{{item.cxy_service_fee}}</td>
            <td>{{item.money}}</td>
            <td>{{item.actual_money}}</td>
            <td>{{item.profit_money}}</td>
            <!-- <td>{{getWeiZhangfilterText(item.status)}}</td> -->
            <!-- <td>{{getweiZhanghandleStatusText(item.handle_status)}}</td> -->
            <!-- <td>{{item.cxy_pay_status}}</td> -->
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);">查看</a>
                <a class="table-btn" href="javascript:void(0);">修改</a>
                <!-- <a class="table-btn" href="javascript:void(0);" [class.hidden]='item.status!=0'></a>
                <a class="table-btn" href="javascript:void(0);" [class.hidden]='item.status!=1'
                   (click)="toggleEditModal(item)">办理</a>
                <a class="table-btn" href="javascript:void(0);"
                   [hidden]="item.cxy_pay_status !=='' || item.handle_status !==0 "
                   (click)="comfirmCxyPayOrder(item.order_id)">确认支付</a>
                <a class="table-btn" href="javascript:void(0);" [class.hidden]='item.status!=3'>确认</a> -->
              </div>
            </td>
          </tr>
          </tbody>
        </table>
           <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls *ngIf="tableList?.length" (pageChange)="getCanWeiZhangList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-wrapper" [class.hidden]='!detailPages' *ngIf="need_data">
  <div class="content"  [style.height]="contentHeight + 'px'">
    <div class="modal-con">
      <form class="modal-form">
        <div class="modal-btn-group">
          <h2 style="font-size:50px;">填写信息</h2>
          <div class="prompt"><span  class="infoWaring">*</span>必填,<span class="infoWaring">红色数字</span>为填写的后几位</div>
        </div>
        <h3 class="modal-title">车辆信息</h3>
        <div class="modal-input-group">
          <label>车牌号码:<span class="infoWaring">*</span></label>
          <input type="text" name="carNumber" [(ngModel)]="modalData.carNumber">
        </div>
        <div class="modal-input-group">
          <label>发动机号:
              <span [class.hidden]="need_data.CarDriveLen!=99" class="infoWaring">*</span>
              <span  class="infoWaring len" [class.hidden]="need_data.CarDriveLen == 99 && need_data.CarDriveLen == 0">{{need_data.CarDriveLen}}</span>
          </label>
          <input type="text" name="engineNumber" [(ngModel)]="modalData.engineNumber">
        </div>
        <div class="modal-input-group">
          <label>车架号：
            <span [class.hidden]="need_data.CarCodeLen!=99" class="infoWaring">*</span>
            <span  class="infoWaring len" [class.hidden]="need_data.CarCodeLen == 99 && need_data.CarCodeLen == 0">{{need_data.CarCodeLen}}</span>
          </label>
          <input type="text" name="frameNumber" [(ngModel)]="modalData.frameNumber">
        </div>
        <h3 class="modal-title">车主信息</h3>
        <div class="modal-input-group">
          <label>车主姓名：
            <span [class.hidden]="need_data.CarOwnerLen!=99" class="infoWaring">*</span>
            <span  class="infoWaring len" [class.hidden]="need_data.CarOwnerLen == 99 || need_data.CarOwnerLen == 0">{{need_data.CarOwnerLen}}</span>
          </label>
          <input type="text" name="username" [(ngModel)]="modalData.username">
        </div>
        <div class="modal-input-group">
          <label>驾驶证/身份证：
            <span [class.hidden]="need_data.JashiZhengHaoLen!=99" class="infoWaring">*</span>
            <span  class="infoWaring len" [class.hidden]="need_data.JashiZhengHaoLen == 99 || need_data.JashiZhengHaoLen == 0">{{need_data.JashiZhengHaoLen}}</span>
          </label>
          <input type="text" name="CardNo" [(ngModel)]="modalData.CardNo">
        </div>
        <div class="modal-input-group">
          <label>车主电话：
            <span [class.hidden]="need_data.CarOwnerPhoneLen!=99" class="infoWaring">*</span>
            <span  class="infoWaring len" [class.hidden]="need_data.CarOwnerPhoneLen == 99 || need_data.CarOwnerPhoneLen == 0">{{need_data.CarOwnerPhoneLen}}</span>
          </label>
          <input type="text" name="mobile" [(ngModel)]="modalData.mobile">
        </div>
        <div class="modal-input-group">
          <label>驾驶证档案编号：
            <span [class.hidden]="need_data.DanganBianHaoLen!=99" class="infoWaring">*</span>
            <span  class="infoWaring len" [class.hidden]="need_data.DanganBianHaoLen == 99 || need_data.DanganBianHaoLen == 0">{{need_data.DanganBianHaoLen}}</span>
          </label>
          <input type="text" name="pCount" [(ngModel)]="modalData.pCount">
        </div>
        <div class="modal-input-group">
          <label>驾驶证登记手机号:
            <span [class.hidden]="need_data.FilePhoneLen!=99" class="infoWaring">*</span>
            <span  class="infoWaring len" [class.hidden]="need_data.FilePhoneLen == 99 || need_data.FilePhoneLen == 0">{{need_data.FilePhoneLen}}</span>
          </label>
          <input type="text" name="carPhone" [(ngModel)]="modalData.carPhone">
        </div>
        <div class="modal-input-group">
         <label>车辆登记证书号: 
           <span [class.hidden]="need_data.CheliangZhengShuLen!=99" class="infoWaring">*</span>
           <span  class="infoWaring len" [class.hidden]="need_data.CheliangZhengShuLen == 99 || need_data.CheliangZhengShuLen == 0">{{need_data.CheliangZhengShuLen}}</span></label>
         <input type="text" name="CheliangZhengShu" [(ngModel)]="modalData.CheliangZhengShu">
        </div>
        <div class="modal-input-group">
          <label>驾驶证条形二维码：
            <span [class.hidden]="need_data.TiaoXingMaLen!=99" class="infoWaring">*</span>
            <span  class="infoWaring len" [class.hidden]="need_data.TiaoXingMaLen == 99 || need_data.TiaoXingMaLen == 0">{{need_data.TiaoXingMaLen}}</span>
          </label>
          <input type="text" name="QRCode" [(ngModel)]="modalData.QRCode">
        </div>
        <div class="modal-input-group">
          <label>行驶证URL：
            <span [class.hidden]="need_data.DrivingLicense!=99" class="infoWaring">*</span>
          </label>
          <img-upload [img]="{url:modalData.DrivingUrl}"
                      [selectable]="false"
                      (afterChange)="modalData.DrivingUrl = $event.url"></img-upload>
        </div>
        <div class="modal-input-group">
          <label>行驶证副页URL：
            <span [class.hidden]="need_data.DrivingSecondLicense!=99" class="infoWaring">*</span>
          </label>
              <img-upload [img]="{url:modalData.DrivingSecondUrl}"
                      [selectable]="false"
                      (afterChange)="modalData.DrivingSecondUrl = $event.url"></img-upload>
        </div>
        <div class="modal-input-group">
          <label>驾驶证URL：
            <span [class.hidden]="need_data.CarDriveLen!=99" class="infoWaring">*</span>
          </label>
             <img-upload [img]="{url:modalData.DriverUrl}"
                      [selectable]="false"
                      (afterChange)="modalData.DriverUrl = $event.url"></img-upload>
        </div>
        <div class="modal-input-group">
          <label>驾驶证副页URL：
            <span [class.hidden]="need_data.MajorSecondViolation!=99" class="infoWaring">*</span>
          </label>
            <img-upload [img]="{url:modalData.DriverSecondUrl}"
                      [selectable]="false"
                      (afterChange)="modalData.DriverSecondUrl = $event.url"></img-upload>
        </div>
        <div class="modal-input-group" [class.hidden]="need_data.VerifyCodeLen!=99">
          <span [class.hidden]="need_data.VerifyCodeLen!=99" class="infoWaring">*</span><label class="modal-msg">车主收到的短信验证码</label>
          <input type="text" name="VerifyCode" style="display:inline-block;" [(ngModel)]="modalData.VerifyCode">
          <div class="table-btns" style="display:inline-block;" class="sendMsg">
            <a class="table-btn" href="javascript:void(0);" (click)="sendMsg(modalData.carNumber)">发送短信验证码</a>
          </div>
        </div>
        <div class="modal-btn-group">
          <button type="submit" (click)="submitModal()">保存</button>
          <button (click)="toggleEditModal()">关闭</button>
        </div>
      </form>
      <div class="modal-close" (click)="toggleEditModal()">
        <i class="icon-font">&#xe6e9;</i>
      </div>
    </div>
  </div>
</div> -->
