<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix">
          <div class="input-group">
            <label>云洗账号</label>
            <input type="text" name="account" value="">
          </div>
          <div class="input-group">
            <label>时间段</label>
            <input type='text' value={{selDate}} (change)="setInputDate($event)"/>
            <date-picker
              [value]="value"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [disableDays]="disableDays"
              [toContainPrevMonth]="toContainPrevMonth"
              [toContainNextMonth]="toContainNextMonth"
              (selectedDate)='setDate($event)'></date-picker>
          </div>
          <div class="input-group">
            <label>城市</label>
            <city-picker></city-picker>
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr class="canweizhangThead">
            <th>编号</th>
            <th>订单编号</th>
            <th>车牌号</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>违章笔数</th>
            <th>处罚金额</th>
            <th>扣分</th>
            <th>服务费</th>
            <th>云洗利润</th>
            <th>状态</th> 
            <th>车行易保存订单状态</th>                        
            <th>车行易订单状态</th>                                                        
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex }; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.order_id}}</td>
            <td>{{item.car_number}}</td>
            <td>{{item.name}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.p_count}}</td>
            <td>{{item.money}}</td>
            <td>{{item.punish_money}}</td>
            <td>{{item.punish_points}}</td>
            <td>{{item.service_fee}}</td>
            <td>{{item.status}}</td>
            <td>{{item.handle_status}}</td>
            <td>{{item.cxy_pay_status}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleEditModal(item)">办理</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="curPageIndex = $event" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
  <div class="modal-wrapper" [class.hidden]='!detailPages'>
  <div class="content" [style.height]="contentHeight + 'px'" >
       <div class="modal-con">
        <form class="modal-form" (ngSubmit)="modalSubmit()" >
          <div class="modal-btn-group">
            <h2 style="font-size:50px;">填写信息</h2>
          </div>
           <h3 class="modal-title">车辆信息</h3>
            <div class="modal-input-group">
              <label>车牌号码:</label>
              <input type="text" name="price">
            </div>
             <div class="modal-input-group">
              <label>发动机号:</label>
              <input type="text" name="price">
            </div>
             <div class="modal-input-group">
              <label>车架号：</label>
              <input type="text" name="price">
            </div>
          <h3 class="modal-title">车主信息</h3>
            <div class="modal-input-group">
              <label>车主姓名：</label>
              <input type="text" name="price">
            </div>
             <div class="modal-input-group">
              <label>车主电话：</label>
              <input type="text" name="price">
              <span class="modal-must">*</span>
            </div>
             <div class="modal-input-group">
              <label>车架号：</label>
              <input type="text" name="price">
            </div>
            <div class="modal-input-group">
              <label>发动机号：</label>
              <input type="text" name="price">
            </div>
            <div class="modal-input-group">
              <label>驾驶证档案编号：</label>
              <input type="text" name="price">
            </div>
            <div class="modal-input-group">
              <label>驾驶证登记手机号：</label>
              <input type="text" name="price">
            </div>
            <div class="modal-input-group">
              <label>车辆登记证书：</label>
              <input type="text" name="price">
            </div>
            <div class="modal-input-group">
              <label>驾驶证条形二维码：</label>
              <input type="text" name="price">
            </div>
            <div class="modal-input-group">
              <label>行驶证URL：</label>
              <input type="file" name="carUrl" [(ngModel)]="modalData.carUrl">
              {{modalData.carUrl}}123
            </div>
            <div class="modal-input-group">
              <label>行驶证副页URL</label>
              <input type="file" name="carbackUrl">
            </div>
            <div class="modal-input-group">
              <label>驾驶证URL</label>
              <input type="file" name="drive">
            </div>
            <div class="modal-input-group">
              <label>驾驶证副页URL</label>
              <input type="file" name="driveBack" >
            </div>
            <div class="modal-input-group">
              <label>车主收到的短信验证码</label>
              <input type="text" name="price" style="display:inline-block;">
              <div class="table-btns" style="display:inline-block;">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleEditModal(item)">发送短信验证码</a>
              </div>
            </div>
          <div class="modal-btn-group">
            <button type="submit">确定</button>
          </div>
        </form>
        <div class="modal-close" (click)="toggleEditModal()">
          <i class="icon-font">&#xe6e9;</i>
        </div>
        </div>
  </div>
</div>
