<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getAdminShopService(1)">
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>服务</th>
            <th>价格</th>
            <th>是否上架</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.service_name}}</td>
            <td>{{item.yx_price}}</td>
            <td>{{item.on_sale}}</td>
            <td>{{item.create_time}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);"
                   (click)="updateAdminShopServiceStatus(item.on_sale)">{{item.on_sale == 0 ? '上架' : '下架'}}</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls (pageChange)="getAdminShopService($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
