<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getPartnerList(1)">
          <div class="input-group">
            <label>会员账号</label>
            <input type="text" name="mobile" value="" [(ngModel)]="filterData.mobile">
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>合伙人姓名</th>
            <th>合伙人编号</th>
            <th>用户账号</th>
            <th>地区</th>
            <th>合伙人级别</th>
            <th>生效日期</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.partner_name}}</td>
            <td>{{item.partner_code}}</td>
            <td>{{item.mobile}}</td>
            <td>{{cityPickerServer.codeToText(item.region_name)}}</td>
            <td>{{partnerFunction.getPartnerLevelText(item.partner_level)}}</td>
            <td>{{item.effect_time}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="#">查看</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls  (pageChange)="getPartnerList($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
