.con {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/assets/img/login_bg.jpg") no-repeat center/cover;
  overflow: hidden;
}

.login-model {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 420px;
  margin-top: -210px;
  margin-left: -250px;
  border-radius: 12px;
  box-shadow: 0 0 20px #d3d3d3;
  background: white;
}

.login-model .logo {
  position: absolute;
  left: 50%;
  top: -44px;
  width: 88px;
  height: 88px;
  margin-left: -44px;
  line-height: 88px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 20px #d3d3d3;
  background: white;
}

.login-model .logo img {
  vertical-align: middle;
}

.login-model .title {
  color: #009be8;
  font-size: 22px;
  margin-top: 42px;
  margin-bottom: 42px;
  text-align: center;
}

.login-form {
  margin: 0 auto;
  width: 400px;
}

.login-form .input-group {
  position: relative;
  display: block;
  padding-bottom: 22px;
}

.login-form .input-group input {
  width: 100%;
  line-height: 46px;
  color: #707070;
  font-size: 18px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding-left: 48px;
  padding-right: 20px;
}

.login-form .input-group .icon-font {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  line-height: 48px;
  text-align: center;
  color: #c9c9c9;
  font-size: 38px;
}

.login-form .tool-bar {
  color: #8c8c8c;
  font-size: 16px;
  margin-bottom: 45px;
}

.login-form .remember {
  cursor: pointer;
}

.login-form .remember .icon-font {
  font-size: 18px;
  padding-right: 8px;
}

.login-form button {
  width: 100%;
  color: white;
  font-size: 20px;
  letter-spacing: 10px;
  line-height: 45px;
  background: #0da2ec;
  border: 0;
  border-radius: 16px;
  box-shadow: 0 0 20px #d3d3d3;
}
