<ul class="nav ac-container">
  <li class="ac-item"
      *ngFor="let navItem of navList"
      [ngClass]="{'active': navItem['active']}">
    <template [ngIf]="navItem['items']?.length">
      <div class="ac-item-title" (click)="toggleNavItem(navItem);">{{navItem['title']}}
        <i class="icon-font arrow-up" *ngIf="navItem['active']">&#xe731;</i>
        <i class="icon-font arrow-down" *ngIf="!navItem['active']">&#xe733;</i>
      </div>
    </template>
    <template [ngIf]="!navItem['items']?.length">
      <div class="ac-item-title">{{navItem['title']}}</div>
    </template>
    <template [ngIf]="navItem['items']?.length">
      <ul class="nav ac-container ac-sub-container" [style.height]="getSubConHeight(navItem)">
        <li class="ac-item ac-sub-item"
            *ngFor="let subItem of navItem['items']"
            [ngClass]="{'active': subItem['active']}">
          <template [ngIf]="subItem['items']?.length">
            <div class="ac-item-title ac-sub-item-title" (click)="toggleNavItem(subItem);">{{subItem['title']}}
              <i class="icon-font arrow-up" *ngIf="subItem['active']">&#xe731;</i>
              <i class="icon-font arrow-down" *ngIf="!subItem['active']">&#xe733;</i>
            </div>
            <ul class="nav ac-container ac-sub-container ac-grand-container" [style.height]="getSubConHeight(navItem, subItem)">
              <li class="ac-item ac-sub-item ac-grand-item"
                  *ngFor="let grandItem of subItem['items']"
                  [ngClass]="{'active': grandItem['active']}">
                <div class="ac-item-title ac-sub-item-title ac-grand-item-title"><a routerLink="{{grandItem['link']}}">{{grandItem['title']}}</a></div>
                <div class="badge"></div>
              </li>
            </ul>
          </template>
          <template [ngIf]="!subItem['items']?.length">
            <div class="ac-item-title ac-sub-item-title"><a routerLink="{{subItem['link']}}">{{subItem['title']}}</a></div>
            <div class="badge"></div>
          </template>
        </li>
      </ul>
    </template>
  </li>
</ul>
