<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <a class="text-btn float-right margin-large-right" href="javascript:void(0);" (click)="toggleModal()">添加</a>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>类型</th>
            <th>品牌名称</th>
            <th>英文名</th>
            <th>品牌Logo</th>
            <th>品牌官网</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.type_name}}</td>
            <td>{{item.name}}</td>
            <td>{{item.e_name}}</td>
            <td><img src="{{item.path}}"></td>
            <td>{{item.url}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleModal(item)">编辑</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls (pageChange)="getStoreGoodsBrandList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!modalShow">
  <div class="modal-con">
    <h3 class="modal-title" [class.hidden]="!modalData.goods_brand_id">编辑</h3>
    <h3 class="modal-title" [class.hidden]="modalData.goods_brand_id">添加</h3>
    <form class="modal-form" (ngSubmit)="modalSubmit()">
      <div class="modal-input-group">
        <label>类型</label>
        <div class="text">{{modalData.type_name}}</div>
      </div>
      <div class="modal-input-group">
        <label>品牌名称</label>
        <input type="text" name="name" [(ngModel)]="modalData.name">
      </div>
      <div class="modal-input-group">
        <label>英文名</label>
        <input type="text" name="eName" [(ngModel)]="modalData.e_name">
      </div>
      <div class="modal-input-group">
        <label>品牌官网</label>
        <input type="text" name="url" [(ngModel)]="modalData.url">
      </div>
      <div class="modal-input-group">
        <label>品牌简介</label>
        <textarea name="story" [(ngModel)]="modalData.story"></textarea>
      </div>
      <div class="modal-input-group">
        <label>品牌描述</label>
        <textarea name="described" [(ngModel)]="modalData.described"></textarea>
      </div>
      <div class="modal-btn-group">
        <button type="submit">保存</button>
      </div>
    </form>
    <div class="modal-close" (click)="toggleModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
