.modal-con {
  width: 460px;
  height: 300px;
  margin-left: -230px;
  margin-top: -150px;
}

.edit-type-attr-modal {
  width: 460px;
  height: 260px;
  margin-left: -230px;
  margin-top: -130px;
}

.type-attr-list-modal, .type-attr-val-list-modal {
  width: 800px;
  height: 500px;
  margin-left: -400px;
  margin-top: -250px;
}

.edit-type-attr-val-modal {
  width: 460px;
  height: 200px;
  margin-left: -230px;
  margin-top: -100px;
}
