@font-face {
  font-family: 'iconfont';  /* project id 293343 */
  src: url('//at.alicdn.com/t/font_6ubjrx70f6klc8fr.eot');
  src: url('//at.alicdn.com/t/font_6ubjrx70f6klc8fr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_6ubjrx70f6klc8fr.woff') format('woff'),
  url('//at.alicdn.com/t/font_6ubjrx70f6klc8fr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_6ubjrx70f6klc8fr.svg#iconfont') format('svg');
}

.icon-font {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
}

/* 管理页面 */
.manager-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.manager-page .header {
  height: 40px;
  line-height: 36px;
  padding: 0 10px;
  border-bottom: 4px solid #e2e3e7;
  background: #fff;
}

.manager-page .header > h3 {
  position: relative;
  float: left;
  font-size: 16px;
  color: #3c3c3c;
}

.manager-page .header > h3 > s {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -4px;
  background: #009be8;
}

.manager-page > .content {
  padding-left: 45px;
}

.manager-page > .content > .content-wrapper {
  position: relative;
  height: 100%;
  background: #fff;
}

.manager-page .filter-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 24px 0;
  background: #f4f4f4;
  z-index: 9;
}

.manager-page .filter-bar .input-group, .manager-page .filter-bar .input-group label {
  display: inline-block;
}

.manager-page .filter-bar .input-group {
  margin-right: 40px;
}

.manager-page .filter-bar .input-group input {
  line-height: 22px;
  border: 1px solid #acacac;
  border-radius: 12px;
  padding: 0 12px;
  margin-left: 8px;
}

.manager-page .filter-bar .text-btn {
  font-size: 16px;
  color: #009be8;
  border: none;
  background: transparent;
}

.manager-page .filter-bar .text-btn:hover {
  text-decoration: underline;
}

.manager-page .manager-table {
  position: relative;
  height: 100%;
  padding-top: 70px;
}

.manager-table table, .manager-table thead, .manager-table tr {
  width: 100%;
}

.manager-table thead {
  font-size: 16px;
  color: #009be8;
}

.manager-table thead th {
  font-weight: normal;
}

.manager-table tr {
  line-height: 50px;
  border-bottom: 1px solid #e6e6e6;
}

.manager-table tbody td {
  padding: 0 20px;
  text-align: center;
  font-size: 12px;
  color: #3b3a3a;
}

.manager-page .table-btn {
  font-size: 14px;
  color: #009be8;
  border: 0;
  background: transparent;
}

.manager-page .table-btn:hover {
  text-decoration: underline;
}

/* 分页导航 */
.manager-page .ng2-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.manager-page .ng2-pagination li {
  border: 1px solid #a7a7a7;
  border-radius: 2px;
  cursor: pointer;
}

.manager-page .ng2-pagination li.disabled, .manager-page .ng2-pagination li.current {
  cursor: default;
}

.manager-page .ng2-pagination .pagination-previous, .manager-page .ng2-pagination .pagination-next {
  border-color: transparent;
}
