@font-face {
  font-family: 'iconfont';  /* project id 293343 */
  src: url('//at.alicdn.com/t/font_17hrv33u8a1yvi.eot');
  src: url('//at.alicdn.com/t/font_17hrv33u8a1yvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_17hrv33u8a1yvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_17hrv33u8a1yvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_17hrv33u8a1yvi.svg#iconfont') format('svg');
}

.icon-font {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
}

/* 管理页面 */
.manager-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.manager-page .header {
  height: 40px;
  line-height: 36px;
  padding: 0 10px;
  border-bottom: 4px solid #e2e3e7;
  background: #fff;
}

.manager-page .header > h3 {
  position: relative;
  float: left;
  font-size: 16px;
  color: #3c3c3c;
}

.manager-page .header > h3 > s {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -4px;
  background: #009be8;
}

.manager-page > .content {
  padding-left: 45px;
}

.manager-page > .content > .content-wrapper {
  position: relative;
  height: 100%;
  background: #fff;
}

.manager-page .filter-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 24px 0;
  background: #f4f4f4;
  z-index: 9;
}

.manager-page .filter-bar .input-group, .manager-page .filter-bar .input-group label {
  display: inline-block;
}

.manager-page .filter-bar .input-group {
  margin-right: 40px;
}

.manager-page .filter-bar .input-group input {
  width: 160px;
  color: #737373;
  line-height: 22px;
  border: 1px solid #acacac;
  border-radius: 12px;
  padding: 0 12px;
  margin-left: 8px;
}

.manager-page .filter-bar .text-btn {
  font-size: 16px;
  color: #009be8;
  border: none;
  background: transparent;
}

.manager-page .filter-bar .text-btn.text-sub {
  font-size: 14px;
  color: #5d5d5d;
}

.manager-page .filter-bar .text-btn:hover {
  text-decoration: underline;
}

.manager-page .manager-table {
  position: relative;
  height: 100%;
  padding-top: 70px;
}

.manager-table table, .manager-table thead, .manager-table tr {
  width: 100%;
}

.manager-table thead {
  font-size: 16px;
  color: #009be8;
}

.manager-table thead th {
  font-weight: normal;
}

.manager-table tr {
  line-height: 50px;
  border-bottom: 1px solid #e6e6e6;
}

.manager-table tbody td {
  padding: 0 20px;
  text-align: center;
  font-size: 12px;
  color: #3b3a3a;
}

.manager-page .table-btn {
  font-size: 14px;
  color: #009be8;
  border: 0;
  background: transparent;
}

.manager-page .table-btn:hover {
  text-decoration: underline;
}

.manager-page .none-data {
  font-size: 12px;
  text-align: center;
  line-height: 50px;
  color: #3b3a3a;
  border-bottom: 1px solid #e6e6e6;
}

/* 分页导航 */
.manager-page .ng2-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.manager-page .ng2-pagination li {
  border: 1px solid #a7a7a7;
  border-radius: 2px;
  cursor: pointer;
}

.manager-page .ng2-pagination li.disabled, .manager-page .ng2-pagination li.current {
  cursor: default;
}

.manager-page .ng2-pagination .pagination-previous, .manager-page .ng2-pagination .pagination-next {
  border-color: transparent;
}

/*模态窗*/
.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.modal-con {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px 48px;
  border-radius: 14px;
  box-shadow: 0 0 20px #acacac;
  background: white;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 0;
  border-radius: 50%;
  box-shadow: 0 3px 20px #ccc;
  cursor: pointer;
}

.modal-close .icon-font {
  font-size: 22px;
  color: #8c8c8c;
}

.modal-close:hover .icon-font {
  color: red;
}

.modal-title {
  font-size: 18px;
  color: #4d4d4d;
  line-height: 34px;
  padding: 0;
  margin: 0;
}

.modal-form {
  padding: 15px 0;
}

.modal-input-group {
  position: relative;
  color: #818181;
  font-size: 0;
  padding-bottom: 20px;
}

.modal-input-group label {
  display: inline-block;
  width: 30%;
  font-size: 16px;
  line-height: 26px;
  vertical-align: top;
}

.modal-input-group input {
  float: right;
  width: 70%;
  font-size: 16px;
  line-height: 24px;
  padding: 0 12px;
  border: 1px solid #b6b6b6;
  border-radius: 13px;
}

.modal-input-group input.sort {
  width: 50%;
}

.modal-input-group .text {
  float: right;
  width: 148px;
  line-height: 26px;
  font-size: 16px;
}

.modal-input-group .select-box {
  float: right;
  width: 148px !important;
  font-size: 16px;
}

.modal-input-group .select-box > input {
  line-height: 24px !important;
  border: 1px solid #b6b6b6 !important;
  border-radius: 13px !important;
}

.modal-input-group .select-box .select-option-list {
  left: 0;
  top: 26px;
}

.modal-input-group textarea {
  width: 100%;
  height: 96px;
  resize: none;
  font-size: 16px;
  border: 1px solid #b6b6b6;
  border-radius: 13px;
  margin-top: 10px;
  padding: 10px 5px;
  overflow: hidden;
}

.modal-input-group .text-btn {
  display: inline-block;
  color: #00aaee;
  font-size: 16px;
}

.modal-input-group .text-btn:hover {
  text-decoration: underline;
}

.modal-radio-group {
  display: inline-block;
  margin-right: 20px;
  font-size: 0;
}

.modal-radio-group label, .modal-radio-group input {
  float: none;
  width: auto;
  line-height: 26px;
  vertical-align: middle;
}

.modal-radio-group label {
  margin-left: 6px;
}

.modal-btn-group {
  text-align: center;
  font-size: 0;
}

.modal-btn-group button {
  color: #656565;
  font-size: 20px;
  line-height: 22px;
  border: 1px solid #959595;
  background: white;
  border-radius: 10px;
  padding: 0 16px;
  margin-left: 12px;
}

.modal-btn-group button:first-child {
  margin-left: 0;
}

.modal-user-img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin-right: 12px;
  overflow: hidden;
}

.modal-user-name {
  line-height: 66px;
  font-size: 16px;
  color: #727272;
}

.modal-detail-content {
  font-size: 0;
  padding-bottom: 20px;
}

.modal-half {
  display: inline-block;
  width: 48%;
  margin: 16px 0;
  vertical-align: top;
}

.modal-half-left {
  padding-right: 2%
}

.modal-half-right {
  padding-left: 2%
}

.modal-detail-item label, .modal-detail-item .value {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  color: #727272;
  padding: 10px 0;
}

.modal-detail-item .select-box {
  font-size: 16px;
}

.modal-detail-item .value {
  text-align: right;
}

.modal-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  line-height: 80px;
  text-align: center;
  font-size: 0;
  animation: round 2s ease-out infinite;
}

.modal-loading .icon-font {
  font-size: 36px;
}

@keyframes round {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-table {
  width: 100%;
  line-height: 30px;
  border-color: #e6e6e6;
}

.modal-table thead th {
  color: #00aaee;
  font-size: 18px;
  font-weight: normal;
}

.modal-table td {
  text-align: center;
  font-size: 16px;
}

.modal-table .ctrl-btn {
  color: #00aaee;
}

.modal-table .ctrl-btn:hover {
  text-decoration: underline;
}



