<div class="bar-graph-con">
    <div class="bar-graph-line-group">
        <div class="bar-graph-line">2000</div>
        <div class="bar-graph-line">1600</div>
        <div class="bar-graph-line">1200</div>
        <div class="bar-graph-line">800</div>
        <div class="bar-graph-line">400</div>
        <div class="bar-graph-line"></div>
    </div>
    <div class="bar-graph-x">
        <div>
            <div class="x3 bar-graph-item">
                <div class="count"></div>
                <div class="name">今日营业额</div>
            </div>
            <div class="x3 bar-graph-item">
                <div class="count"></div>
                <div class="name">本周营业额</div>
            </div>
            <div class="x3 bar-graph-item">
                <div class="count"></div>
                <div class="name">本月营业额</div>
            </div>
            <div class="x3 bar-graph-item">
                <div class="count"></div>
                <div class="name">本年度营业额</div>
            </div>
        </div>
    </div>
</div>