<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getStoreGoodsList(1)">
          <div class="input-group">
            <label>商品编辑</label>
            <input type="text" name="title" value="" [(ngModel)]="filterData.sn">
          </div>
          <div class="input-group">
            <label>商品名称</label>
            <input type="text" name="title" value="" [(ngModel)]="filterData.goodsName">
          </div>
          <div class="input-group">
            <label>是否上架</label>
            <select-box [name]="filterData.status"
                        [options]="storeFunction.goodsStatusOptions"
                        (optionSelect)="filterData.status = $event"></select-box>
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
        <a class="text-btn float-right margin-large-right" href="javascript:void(0);"
           (click)="toggleEditBaseInfoModal()">添加</a>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>商品编号</th>
            <th>商品名称</th>
            <th>最后更新</th>
            <th>状态</th>
            <th>运费</th>
            <th>价格</th>
            <th>完整性</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.sn}}</td>
            <td>{{item.business_name}}</td>
            <td>{{item.update_time}}</td>
            <td>{{storeFunction.getGoodsStatusText(item.on_sale)}}</td>
            <td>{{item.freight}}</td>
            <td>{{item.price}}</td>
            <td>{{storeFunction.getGoodsAllStatusText(item.status)}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleEditBaseInfoModal(item)">编辑</a>
                <a class="table-btn" href="javascript:void(0);" (click)="removeGoods(item.goods_id)">删除</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls (pageChange)="getStoreGoodsList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!--商品基本信息编辑-->
<div class="modal-wrapper"
     [class.hidden]="!editBaseInfoModalShow || editGoodsDetailModalShow || editGoodsSlideModalShow || goodsAttrListModalShow || editGoodsAttrModalShow">
  <div class="modal-con">
    <div class="modal-loading" *ngIf="!(storeGoodsTypeOptions && storeGoodsBrandOptions && editBaseInfoModalData)">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <div class="modal-close" (click)="closeAllModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <ng-template [ngIf]="storeGoodsTypeOptions && storeGoodsBrandOptions && editBaseInfoModalData">
      <h3 class="modal-title" [class.hidden]="!editBaseInfoModalData.goods_id">编辑商品信息</h3>
      <h3 class="modal-title" [class.hidden]="editBaseInfoModalData.goods_id">添加商品信息</h3>
      <form class="modal-form">
        <div class="modal-input-group">
          <label>类型</label>
          <select-box [options]="storeGoodsTypeOptions"
                      [first]="{value:'',text:'请选择'}"
                      [value]="editBaseInfoModalData.goods_type_id"
                      (optionSelect)="editBaseInfoModalData.goods_type_id = $event"></select-box>
        </div>
        <div class="modal-input-group">
          <label>品牌</label>
          <select-box [options]="storeGoodsBrandOptions"
                      [value]="editBaseInfoModalData.goods_brand_id"
                      (optionSelect)="editBaseInfoModalData.goods_brand_id = $event"></select-box>
        </div>
        <div class="modal-input-group">
          <label>商品标题</label>
          <input type="text" name="businessName" [(ngModel)]="editBaseInfoModalData.business_name">
        </div>
        <div class="modal-input-group">
          <label>商品产地</label>
          <input type="text" name="producer" [(ngModel)]="editBaseInfoModalData.producer">
        </div>
        <div class="modal-input-group">
          <label>上架状态</label>
          <select-box [options]="storeFunction.goodsStatusOptions"
                      [first]="{value:'',text:'请选择'}"
                      [value]="editBaseInfoModalData.on_sale + ''"
                      (optionSelect)="editBaseInfoModalData.on_sale = $event"></select-box>
        </div>
        <div class="modal-input-group">
          <label>运费</label>
          <input type="text" name="freight" [(ngModel)]="editBaseInfoModalData.freight">
        </div>
        <div class="modal-input-group">
          <label>商品描述</label>
          <textarea name="described" [(ngModel)]="editBaseInfoModalData.described"></textarea>
        </div>
        <div class="modal-btn-group">
          <button (click)="saveGoodsBaseInfo()">下一步</button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
<!--商品详情编辑-->
<div class="modal-wrapper"
     [class.hidden]="!editGoodsDetailModalShow || editGoodsSlideModalShow || goodsAttrListModalShow || editGoodsAttrModalShow">
  <div class="modal-con edit-goods-detail-modal">
    <div class="modal-close" (click)="closeAllModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <h3 class="modal-title">商品详情</h3>
    <ng2-editor [height]="480"
                [content]="editGoodsDetailModalData.modernContent"
                (contentChange)="editGoodsDetailModalData.content = $event"></ng2-editor>
    <div class="modal-btn-group">
      <button (click)="toggleEditGoodsDetailModal()">上一步</button>
      <button (click)="saveGoodsDetail()">下一步</button>
    </div>
  </div>
</div>
<!--商品轮播图编辑-->
<div class="modal-wrapper"
     [class.hidden]="!editGoodsSlideModalShow || goodsAttrListModalShow">
  <div class="modal-con edit-goods-slide-modal">
    <div class="modal-close" (click)="closeAllModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!curGoodsSlideList">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="curGoodsSlideList">
      <h3 class="modal-title">商品轮播图</h3>
      <div class="modal-detail-content">
        <img-upload-list [imgList]="curGoodsSlideList" [selectable]="true" [maxSize]="8"></img-upload-list>
      </div>
      <div class="modal-btn-group bottom">
        <button (click)="toggleEditGoodsSlideModal()">上一步</button>
        <button (click)="saveGoodsSlide();">下一步</button>
      </div>
    </ng-template>
  </div>
</div>
<!--商品基本参数列表-->
<div class="modal-wrapper" [class.hidden]="!goodsAttrListModalShow || editGoodsAttrModalShow || goodsSKUListModalShow">
  <div class="modal-con goods-attr-list-modal">
    <div class="modal-close" (click)="closeAllModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!goodsAttrList">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="goodsAttrList">
      <h3 class="modal-title">基本参数</h3>
      <div class="modal-btn-group padding clearfix">
        <button class="float-right" (click)="toggleEditGoodsAttrModal()">添加基本参数</button>
      </div>
      <table class="modal-table">
        <thead>
        <tr>
          <th>参数名</th>
          <th>参数值</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of goodsAttrList">
          <td>{{item.param_name}}</td>
          <td>{{item.value}}</td>
          <td>
            <a href="javascript:void(0)" class="ctrl-btn" (click)="toggleEditGoodsAttrModal(item)">编辑</a>
            <a href="javascript:void(0)" class="ctrl-btn" (click)="removeGoodsAttr(item.attr_id)">删除</a>
          </td>
        </tr>
        <tr *ngIf="!(goodsAttrList?.length)">
          <td colspan="3">暂无相关数据</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-btn-group bottom">
        <button (click)="toggleGoodsAttrListModal()">上一步</button>
        <button (click)="toggleGoodsSKUListModal(curGoodsId)">下一步</button>
      </div>
    </ng-template>
  </div>
</div>
<!--编辑商品基本参数-->
<div class="modal-wrapper" [class.hidden]="!editGoodsAttrModalShow">
  <div class="modal-con">
    <div class="modal-close" (click)="toggleEditGoodsAttrModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!(goodsTypeAttrOptions && goodsTypeAttrValOptions)">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="goodsTypeAttrOptions && goodsTypeAttrValOptions">
      <h3 class="modal-title" [class.hidden]="!editGoodsAttrModalData.attr_id">编辑基本参数</h3>
      <h3 class="modal-title" [class.hidden]="editGoodsAttrModalData.attr_id">添加基本参数</h3>
      <form class="modal-form" (ngSubmit)="editGoodsAttrSubmit()">
        <div class="modal-input-group">
          <label>参数名称</label>
          <select-box
            [options]="goodsTypeAttrOptions"
            [first]="{value:'',text:'请选择'}"
            [value]="editGoodsAttrModalData.param_id"
            (optionSelect)="goodsTypeAttrChange($event)"></select-box>
        </div>
        <div class="modal-input-group">
          <label>参数值</label>
          <select-box
            [options]="goodsTypeAttrValOptions"
            [first]="{value:'',text:'暂无'}"
            [value]="editGoodsAttrModalData.value_id"
            (optionSelect)="editGoodsAttrModalData.value_id = $event"></select-box>
        </div>
        <div class="modal-btn-group">
          <button type="submit">保存</button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
<!--商品销售属性列表-->
<div class="modal-wrapper" [class.hidden]="!goodsSKUListModalShow || editGoodsSKUModalShow">
  <div class="modal-con goods-attr-list-modal">
    <div class="modal-close" (click)="closeAllModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!goodsSKUList && goodsSKUAttrList && goodsAllAttrValList">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="goodsSKUList && goodsSKUAttrList && goodsAllAttrValList">
      <h3 class="modal-title">销售属性</h3>
      <div class="modal-btn-group padding clearfix">
        <button class="float-right" (click)="toggleEditGoodsSKUModal()">添加销售属性</button>
      </div>
      <table class="modal-table">
        <thead>
        <tr>
          <th *ngFor="let item of goodsSKUAttrList;">{{item.name}}</th>
          <th>价格</th>
          <th>数量</th>
          <th>销量</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of goodsSKUList">
          <td *ngFor="let attr of goodsSKUAttrList;">{{getStoreGoodsSKUAttrValueName(attr.param_id)}}</td>
          <td>{{item.sku_id}}</td>
          <td>{{item.price}}</td>
          <td>{{item.inventory}}</td>
          <td>{{item.sales_volume}}</td>
          <td>
            <a href="javascript:void(0)" class="ctrl-btn" (click)="toggleEditGoodsSKUModal(item.sku_id)">编辑</a>
            <a href="javascript:void(0)" class="ctrl-btn" (click)="removeGoodsSKU(item.sku_id)">删除</a>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="!(goodsSKUList?.length)" class="text-center">暂无相关数据</div>
      <div class="modal-btn-group bottom">
        <button (click)="toggleGoodsSKUListModal()">上一步</button>
        <button (click)="closeAllModal()">结束</button>
      </div>
    </ng-template>
  </div>
</div>
<!--编辑商品销售属性-->
<div class="modal-wrapper" [class.hidden]="!editGoodsSKUModalShow">
  <div class="modal-con">
    <div class="modal-close" (click)="toggleEditGoodsSKUModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!(goodsSKUAttrList && goodsAllAttrValList)">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="goodsSKUAttrList && goodsAllAttrValList">
      <h3 class="modal-title" [class.hidden]="!editGoodsSKUModalData.sku_id">编辑销售属性</h3>
      <h3 class="modal-title" [class.hidden]="editGoodsSKUModalData.sku_id">添加销售属性</h3>
      <form class="modal-form" (ngSubmit)="editGoodsSKUSubmit()">
        <div class="modal-input-group" *ngFor="let item of goodsSKUAttrList;let i = index;">
          <label>{{item.name}}：</label>
          <ng-template [ngIf]="goodsSKUAttrValOptionsArr?.length">
            <select-box
              [options]="goodsSKUAttrValOptionsArr[i]"
              [first]="{value:'',text:'请选择'}"
              (optionSelect)="goodsSKUAttrValChange($event,item.param_id)"></select-box>
          </ng-template>
        </div>
        <div class="modal-btn-group">
          <button type="submit">保存</button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
