.modal-con {
  width: 750px;
  height: 680px;
  margin-left: -375px;
  margin-top: -340px;
}

.edit-goods-detail-modal {
  width: 800px;
  height: 680px;
  margin-left: -400px;
  margin-top: -340px;
}

.edit-goods-slide-modal {
  width: 800px;
  height: 680px;
  margin-left: -400px;
  margin-top: -340px;
}
.modal-input-group{
  padding-bottom:8px;
}

.modal-btn-group.bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}
