<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getPartnerList(1)">
          <div class="input-group">
            <label>标题</label>
            <input type="text" name="title" value="" [(ngModel)]="filterData.title">
          </div>
          <div class="input-group">
            <label>状态</label>
            <select-box [name]="status" [options]="storeFunction.goodsStatusOptions" (optionSelect)="filterData.status = $event"></select-box>
          </div>
          <div class="input-group">
            <label>库存</label>
            <input type="text" name="inventory_from" value="" [(ngModel)]="filterData.inventory_from">
            <span> 至 </span>
            <input type="text" name="inventory_to" value="" [(ngModel)]="filterData.inventory_to">
          </div>
          <div class="input-group">
            <label>类型</label>
            <select-box [options]="storeFunction.goodsTypeOptions" [name]="type" (optionSelect)="filterData.type = $event"></select-box>
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>标题</th>
            <th>品牌</th>
            <th>类型</th>
            <th>产地</th>
            <th>最后更新</th>
            <th>状态</th>
            <th>库存</th>
            <th>运费</th>
            <th>价格</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.title}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.type}}</td>
            <td>{{cityPickerServer.codeToText(item.region_name)}}</td>
            <td>{{item.update_time}}</td>
            <td>{{item.status}}</td>
            <td>{{item.inventory}}</td>
            <td>{{item.freight}}</td>
            <td>{{item.price}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleModal()">编辑</a>
                <a class="table-btn" href="javascript:void(0);">删除</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls  (pageChange)="getPartnerList($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!modalShow">
  <div class="modal-con">
    <h3 class="modal-title">订单详情</h3>
    <form class="modal-form">
      <div class="modal-input-group">
        <label>类型名</label>
        <input type="text" name="type" value="">
      </div>
      <div class="modal-input-group">
        <label>状态</label>
        <select-box [options]="storeFunction.goodsStatusOptions"></select-box>
      </div>
      <div class="modal-btn-group">
        <button (click)="toggleModal()">关闭</button>
      </div>
    </form>
    <div class="modal-close" (click)="toggleModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
