<div class="modal-wrapper">
  <div class="modal-con">
    <h3 class="modal-title">添加套餐</h3>
    <form class="modal-form">
      <div class="modal-input-group">
        <label>套餐类型</label>
        <select-box [options]="youkaFunction.youcaTaocanClassOptions"></select-box>
      </div>
      <div class="modal-input-group">
        <label>每期套餐金额</label>
        <input type="text" name="price" value="">
      </div>
      <div class="modal-input-group">
        <label>类型</label>
        <input type="text" name="type" value="">
      </div>
      <div class="modal-input-group">
        <label>购买套餐所需要积分</label>
        <input type="text" name="type" value="">
      </div>
      <div class="modal-input-group">
        <label>套餐描述</label>
        <textarea name="describe" placeholder="1~120字"></textarea>
      </div>
      <div class="modal-btn-group">
        <button type="submit">确定</button>
      </div>
    </form>
    <div class="modal-close">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
