<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getPersonShopList(1)">
           <div class="input-group">
            <label>门店编号</label>
            <input type="text" name="sn" [(ngModel)]="filterData.sn">
          </div> 
          <div class="input-group">
            <label>状态</label>
            <select-box [options]="shopFunction.shopStatusOptions" [name]="filterData.status"
                        (optionSelect)="filterData.status = $event"></select-box>
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
          
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>门店编号</th>
            <th>所在地区</th>
            <th>门店名称</th>
            <th>经营范围</th>
            <th>负责人</th>
            <th>联系电话</th>
            <th>门店余额</th>
            <th>申请时间</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.sn}}</td>
            <td>{{item.region_name}}</td>
            <td>{{item.shop_name}}</td>
            <td>{{item.business_scope}}</td>
            <td>{{item.spokes_man}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.balance}}</td>
            <td>{{item.create_time}}</td>
            <td>{{shopFunction.getShopStatusText(item.status)}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleReadDetailModal(item.shop_id)">查看</a>
                <a class="table-btn" href="javascript:void(0);" (click)="toggleEditDetailModal(item.shop_id)">编辑</a>
                <a class="table-btn" href="javascript:void(0);" (click)="toggleTakeMoneyModal(item.shop_id)">提现</a>
                <a class="table-btn" href="javascript:void(0);" (click)="toggleChartModal(item.shop_id)">查看流水</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls (pageChange)="getPersonShopList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper edit-modal" [class.hidden]="!editModalShow">
  <div class="modal-con">
    <h3 class="modal-title">编辑</h3>
    <form class="modal-form">
      <div class="modal-input-group">
        <label>门店编号</label>
        <div class="text">65456453135</div>
      </div>
      <div class="modal-input-group">
        <label>用户账号</label>
        <input type="text" name="price" value="">
      </div>
      <div class="modal-input-group">
        <label>负责人</label>
        <input type="text" name="price" value="">
      </div>
      <div class="modal-input-group">
        <label>身份证</label>
        <input type="text" name="price" value="">
      </div>
      <div class="modal-input-group">
        <label>所属城市</label>
        <input type="text" name="price" value="">
      </div>
      <div class="modal-input-group">
        <label>联系电话</label>
        <input type="text" name="price" value="">
      </div>
      <div class="modal-input-group">
        <label>门店名称</label>
        <input type="text" name="price" value="">
      </div>
      <div class="modal-input-group">
        <label>经营范围</label>
        <input type="text" name="price" value="">
      </div>
      <div class="modal-input-group">
        <label>状态</label>
        <select-box [options]="shopFunction.shopStatusOptions" [first]="{value:'',text:'请选择'}"></select-box>
      </div>
      <div class="modal-input-group">
        <label>详细地址</label>
        <input type="text" name="price" value="">
      </div>
      <div class="modal-btn-group">
        <button type="submit" (click)="toggleEditModal()">保存</button>
        <button type="submit" (click)="toggleEditModal()">关闭</button>
      </div>
    </form>
    <div class="modal-close" (click)="toggleEditModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
<!--门店详情-基本信息-->
<div class="modal-wrapper read-modal"
     [class.hidden]="!readShopDetailModalShow || readShopBankModalShow || readShopIdCardModalShow">
  <div class="modal-con read-shop-detail-modal">
    <div class="modal-close" (click)="toggleReadDetailModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!shopDetail">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="shopDetail">
      <h3 class="modal-title">门店详情</h3>
      <div class="modal-detail">
        <div class="modal-detail-content">
          <div class="modal-detail-item">
            <label>门店编号</label>
            <div class="value">{{shopDetail.sn}}</div>
          </div>
          <div class="modal-detail-item">
            <label>所属地区</label>
            <div class="value">{{shopDetail.region_name}}</div>
          </div>
          <div class="modal-detail-item">
            <label>负责人</label>
            <div class="value">{{shopDetail.spokes_man}}</div>
          </div>
          <div class="modal-detail-item">
            <label>联系电话</label>
            <div class="value">{{shopDetail.mobile}}</div>
          </div>
          <div class="modal-detail-item">
            <label>门店名称</label>
            <div class="value">{{shopDetail.shop_name}}</div>
          </div>
          <div class="modal-detail-item">
            <label>经营范围</label>
            <div class="value">{{shopDetail.business_scope}}</div>
          </div>
          <div class="modal-detail-item">
            <label>申请时间</label>
            <div class="value">{{shopDetail.create_time}}</div>
          </div>
          <div class="modal-detail-item">
            <label>状态</label>
            <div class="value">{{shopFunction.getShopStatusText(shopDetail.status)}}</div>
          </div>
          <div class="modal-detail-item">
            <label>详细地址</label>
            <div class="value">{{shopDetail.detailed_address}}</div>
          </div>
          <div class="modal-detail-item">
            <label>营业执照</label>
            <div class="value"><img class="modal-show-img" src="{{shopDetail.license_photo}}"></div>
          </div>
          <div class="modal-btn-group">
             <button (click)="toggleReadShopBankModal()">查看银行卡信息</button> 
             <button (click)="toggleReadShopIdCardModal()">查看身份证信息</button> 
          </div>
          <div class="modal-btn-group">
            <button (click)="toggleReadDetailModal()">关闭</button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<!--门店-银行卡信息-->
<div class="modal-wrapper read-modal" [class.hidden]="!readShopBankModalShow">
  <div class="modal-con read-shop-bank-modal">
    <div class="modal-close" (click)="toggleReadShopBankModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!shopDetail">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="shopDetail">
      <h3 class="modal-title">银行卡信息</h3>
      <div class="modal-detail">
        <div class="modal-detail-content">
          <div class="modal-detail-item">
            <label>账号名</label>
            <div class="value">{{shopDetail.account_name}}</div>
          </div>
          <div class="modal-detail-item">
            <label>卡号</label>
            <div class="value">{{shopDetail.card_number}}</div>
          </div>
          <div class="modal-detail-item">
            <label>开户银行</label>
            <div class="value">{{shopDetail.bank}}{{shopDetail.bank_branch}}</div>
          </div>
          <div class="modal-detail-item">
            <label>开户支行</label>
            <div class="value">{{shopDetail.bank}}{{shopDetail.bank_branch}}</div>
          </div>
        </div>
      </div>
      <div class="modal-btn-group">
        <button (click)="toggleReadShopBankModal()">关闭</button>
      </div>
    </ng-template>
  </div>
</div>
<!--门店-身份证信息-->
<div class="modal-wrapper read-modal" [class.hidden]="!readShopIdCardModalShow">
  <div class="modal-con read-shop-idcard-modal">
    <div class="modal-close" (click)="toggleReadShopIdCardModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!shopDetail">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="shopDetail">
      <h3 class="modal-title">身份证信息</h3>
      <div class="modal-detail">
        <div class="modal-detail-content">
          <div class="modal-detail-item">
            <label>身份证号</label>
            <div class="value">{{shopDetail.idcard}}</div>
          </div>
          <div class="modal-detail-item">
            <label>正面</label>
            <div class="value"><img class="modal-show-img" src="{{shopDetail.idcard_photo}}"></div>
          </div>
          <div class="modal-detail-item">
            <label>背面</label>
            <div class="value"><img class="modal-show-img" src="{{shopDetail.idcard_photo2}}"></div>
          </div>
          <div class="modal-detail-item">
            <label>手持</label>
            <div class="value"><img class="modal-show-img" src="{{shopDetail.idcard_photo3}}"></div>
          </div>
        </div>
      </div>
      <div class="modal-btn-group">
        <button (click)="toggleReadShopIdCardModal()">关闭</button>
      </div>
    </ng-template>
  </div>
</div>
<!--门店详情-编辑基本信息-->
<div class="modal-wrapper edit-modal"
     [class.hidden]="!editShopDetailModalShow || editShopBankModalShow || editShopIdCardModalShow">
  <div class="modal-con edit-shop-detail-modal">
    <div class="modal-close" (click)="toggleEditDetailModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!shopDetail">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="shopDetail">
      <h3 class="modal-title">门店详情</h3>
      <div class="modal-detail">
        <div class="modal-detail-content">
          <form class="modal-form" (ngSubmit)="updateShopInfo()">
          <div class="modal-input-group">
            <label>所属地区</label>
            <city-pickers (change)="place = $event" [option]="valuePlace"></city-pickers>
          </div>
          <div class="modal-input-group">
            <label>负责人<span style="color:red;">*</span></label>
            <input type="text" name="spokes_man" [(ngModel)]="shopDetail.spokes_man">
          </div>
          <div class="modal-input-group">
            <label>联系电话<span style="color:red;">*</span></label>
            <input type="text" name="mobile" [(ngModel)]="shopDetail.mobile">
          </div>
          <div class="modal-input-group">
            <label>门店名称<span style="color:red;">*</span></label>
            <input type="text" name="shop_name" [(ngModel)]="shopDetail.shop_name">
          </div>
          <div class="modal-input-group">
            <label>经营范围<span style="color:red;">*</span></label>
            <input type="text" name="business_scope" [(ngModel)]="shopDetail.business_scope">
          </div>
          <div class="modal-input-group">
            <label>详细地址<span style="color:red;">*</span></label>
            <input type="text" name="detailed_address" [(ngModel)]="shopDetail.detailed_address">
          </div>
            <div class="modal-input-group">
            <label>营业时间<span style="color:red;">*</span></label>
             <input type="text" name="opening_hours" [(ngModel)]="shopDetail.opening_hours">
          </div>
          <div class="modal-btn-group">
            <button (click)="toggleEditShopDescribedModal()">编辑店铺描述</button>
            <!-- <button (click)="toggleEditShopBankModal()">编辑银行卡信息</button> -->
            <!-- <button (click)="toggleEditShopIdCardModal()">编辑身份证信息</button> -->
          </div>
          <div class="modal-btn-group">
            <button type="submit">保存</button>
            <button (click)="toggleEditDetailModal()">关闭</button>
          </div>
          </form>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<!--门店-编辑店铺描述信息-->
<div class="modal-wrapper edit-modal" [class.hidden]="!editShopDescribedShow">
  <div class="modal-con edit-shop-bank-modal">
    <div class="modal-close" (click)="editShopDescribedShow = !editShopDescribedShow">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!shopDetail">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="shopDetail">
      <div class="modal-detail">
        <div class="modal-detail-content">
            <div class="modal-input-group editor"> 
            <label>店铺描述<span style="color:red;">*</span></label>
             <ng2-editor [height]="360" [content]="shopDetail?.graphic_introduction"  (contentChange)=" shopDetail.graphic_introduction = $event"></ng2-editor>
           </div> 
        </div>
      </div>
      <div class="modal-btn-group" >
        <button (click)="editShopDescribedShow = !editShopDescribedShow">返回</button>
      </div>
    </ng-template>
  </div>
</div>
<!--门店-编辑银行卡信息-->
<div class="modal-wrapper edit-modal" [class.hidden]="!editShopBankModalShow">
  <div class="modal-con edit-shop-bank-modal">
    <div class="modal-close" (click)="toggleEditShopBankModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!shopDetail">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="shopDetail">
      <h3 class="modal-title">银行卡信息</h3>
      <div class="modal-detail">
        <div class="modal-detail-content">
          <div class="modal-detail-item">
            <label>银行卡号</label>
            <div class="value">{{shopDetail.card_number}}</div>
          </div>
          <div class="modal-detail-item">
            <label>卡类型/发卡行</label>
            <div class="value">{{shopFunction.getBankCardTypeText(shopDetail.card_type)}}</div>
          </div>
          <div class="modal-detail-item">
            <label>预留号码</label>
            <div class="value">{{shopDetail.account_mobile}}</div>
          </div>
        </div>
      </div>
      <div class="modal-btn-group">
        <button (click)="toggleEditShopBankModal()">关闭</button>
      </div>
    </ng-template>
  </div>
</div>
<!--门店-编辑身份证信息-->
<div class="modal-wrapper edit-modal" [class.hidden]="!editShopIdCardModalShow">
  <div class="modal-con edit-shop-idcard-modal">
    <div class="modal-close" (click)="toggleEditShopIdCardModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
    <div class="modal-loading" *ngIf="!shopDetail">
      <i class="icon-font">&#xe64b;</i>
    </div>
    <ng-template [ngIf]="shopDetail">
      <h3 class="modal-title">身份证信息</h3>
      <div class="modal-detail">
        <div class="modal-detail-content">
          <div class="modal-detail-item">
            <label>身份证号</label>
            <div class="value">{{shopDetail.idcard}}</div>
          </div>
          <div class="modal-detail-item">
            <label>正面</label>
            <div class="value"><img class="modal-show-img" src="{{shopDetail.idcard_photo}}"></div>
          </div>
          <div class="modal-detail-item">
            <label>背面</label>
            <div class="value"><img class="modal-show-img" src="{{shopDetail.idcard_photo2}}"></div>
          </div>
          <div class="modal-detail-item">
            <label>手持</label>
            <div class="value"><img class="modal-show-img" src="{{shopDetail.idcard_photo3}}"></div>
          </div>
        </div>
      </div>
      <div class="modal-btn-group">
        <button (click)="toggleEditShopIdCardModal()">关闭</button>
      </div>
    </ng-template>
  </div>
</div>
<!--提现  -->
<div class="modal-wrapper trueMoney" [class.hidden]="!TakeMoneyModalShow" *ngIf="myAccountData">
  <div class="modal-con">
    <h3 class="modal-title">编辑</h3>
    <form class="modal-form" (ngSubmit)="withdrawApply()">
       <div class="modal-detail-content">
      <div class="modal-detail-item">
        <label>卡号</label>
        <div class="value">{{myAccountData.card_number}}</div>
      </div>
      <div class="modal-input-group">
        <label>提现金额</label>
        <input type="text" name="money" [(ngModel)]="tixianModal.money">
      </div>
      <div class="modal-input-group">
        <label>支付密码</label>
        <input type="text" name="price" [(ngModel)]="tixianModal.payPwd">
      </div>
      <div class="modal-btn-group">
        <button type="submit">体现</button>
        <button type="button" (click)="toggleTakeMoneyModal()">关闭</button>
      </div>
       </div>
    </form>
    <div class="modal-close" (click)="toggleTakeMoneyModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!chartShow">
  <div class="modal-con chart">
    <h3 class="modal-title">查看流水</h3>
    <div class="modal-detail">
      <div class="modal-detail-content">
        <div class="modal-detail-item">
            <chart-income [shopId]="shopId"></chart-income>
        </div>
    </div>
    <div class="modal-btn-group">
      <button (click)="toggleChartModal()">关闭</button>
    </div>
    <div class="modal-close" (click)="toggleChartModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
