.edit-modal .modal-con {
  width: 600px;
  height: 580px;
  margin-left: -300px;
  margin-top: -290px;
}

.read-shop-detail-modal {
  width: 460px;
  height: 680px;
  margin-left: -230px;
  margin-top: -340px;
}

.read-shop-bank-modal {
  width: 460px;
  height: 240px;
  margin-left: -230px;
  margin-top: -120px;
}

.read-shop-idcard-modal {
  width: 460px;
  height: 640px;
  margin-left: -230px;
  margin-top: -320px;
}
.manager-table{
  /*overflow-y: hidden;  */
  overflow-x: scroll;
  margin:0;
}
.manager-table tbody td{
  padding: 0 10px;
}
.manager-table th{
  white-space:nowrap;
}
.manager-table td{
  white-space:nowrap;
}
.editor{
  font-size:16px;
}
.trueMoney .modal-con {
  width: 500px;
  height: 280px;
  margin-left: -250px;
  margin-top: -140px;
}
.chart{
  width: 800px;
  height: 620px;
  margin-left: -400px;
  margin-top: -310px;
}
