<div class="head-bar-con border-bottom border-sub clearfix">
    <div class="brand">
        <img class="logo" src="assets/img/logo.png" alt="云洗后台-Logo">
        <div class="slogan">
            <h3>云洗</h3>
            <h4>人·车·生活·</h4>
        </div>
    </div>
    <div class="tool-bar">
        <div class="user-info">
            <img class="user-img" src="{{adminInfo['head_img']}}">
            <div class="user-base">
                <div><span class="user-name">{{adminInfo['name']}}</span><span class="user-role">{{adminInfo['manager_level']}}</span></div>
                <div class="login-time">上次登录时间:{{adminInfo['last_login_time']}}</div>
            </div>
        </div>
        <div class="tool-btns">
            <div class="tool-btn"><i class="icon-font">&#xe728;</i><s class="badge"></s></div>
            <div class="tool-btn"><i class="icon-font">&#xe70c;</i><s class="badge"></s></div>
            <div class="tool-btn"><i class="icon-font">&#xe6e9;</i><s class="badge"></s></div>
        </div>
    </div>
</div>