<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix">
          <a class="text-btn" href="javascript:void(0);" (click)="toggleModal()">添加套餐</a>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>序号</th>
            <th>每月返还</th>
            <th>返还时间</th>
            <th>套餐类型</th>
            <th>创建时间</th>
            <th>套餐分类</th>
            <th>套餐参加所需要积分</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.eachs}}个月</td>
            <td>{{getTaocanTypeText(item.type)}}</td>
            <td>{{item.create_time}}</td>
            <td>{{getTaocanClassText(item.classify)}}</td>
            <td>{{item.need_points}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleModal()">编辑</a>
                <a class="table-btn" href="javascript:void(0);">删除</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls *ngIf="tableList?.length" (pageChange)="getYoukaTaocanList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!modalShow">
  <div class="modal-con">
    <h3 class="modal-title">添加套餐</h3>
    <form class="modal-form">
      <div class="modal-input-group">
        <label>套餐类型</label>
        <select-box [options]="youkaFunction.youcaTaocanClassOptions" [first]="{value:'',text:'请选择'}"></select-box>
      </div>
      <div class="modal-input-group">
        <label>油卡类型</label>
        <select-box [options]="youkaFunction.youcaTaocanTypeOptions" [first]="{value:'',text:'请选择'}"></select-box>
      </div>
      <div class="modal-input-group">
        <label>每期套餐金额</label>
        <input type="text" name="price" value="">
      </div>
      <div class="modal-input-group">
        <label>类型（分期数）</label>
        <input type="text" name="type" value="">
      </div>
      <div class="modal-input-group">
        <label>到账总额</label>
        <div class="text">0</div>
      </div>
      <div class="modal-input-group">
        <label>购买套餐所需要积分</label>
        <input type="text" name="type" value="">
      </div>
      <div class="modal-input-group">
        <label>套餐描述</label>
        <textarea name="describe" placeholder="1~120字"></textarea>
      </div>
      <div class="modal-btn-group">
        <button type="submit">确定</button>
      </div>
    </form>
    <div class="modal-close" (click)="toggleModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
