<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getAdminList(1)">
          <div class="input-group">
            <label>角色名</label>
            <input type="text" name="name" value="" [(ngModel)]="filterData.roleName">
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
          <a class="text-btn float-right margin-large-right" href="javascript:void(0);" (click)="toggleModal()">添加</a>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>角色</th>
            <th>最后登录时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.role}}</td>
            <td>{{item.last_login_time}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleModal(item)">编辑</a>
                <a class="table-btn" href="javascript:void(0);" (click)="verificationConfirm(item.admin_id)">删除</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls (pageChange)="getAdminList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!modalShow">
  <div class="modal-con">
    <h3 class="modal-title" [class.hidden]="modalData.adminId">添加</h3>
    <h3 class="modal-title" [class.hidden]="!modalData.adminId">编辑</h3>
    <form class="modal-form" (ngSubmit)="modalSubmit()">
      <div class="modal-input-group">
        <label>管理员</label>
        <input type="text" name="name" value="" [(ngModel)]="modalData.adminName">
      </div>
      <div class="modal-input-group">
        <label>角色</label>
        <select-box
          [options]="roleOptions"
          [first]="{value:'', text:'请选择'}"
          [text]="modalData.roleName"
          (optionSelect)="modalData.roleId = $event"></select-box>
      </div>
      <div class="modal-input-group">
        <label>密码</label>
        <input type="text" name="pwd" value="" [(ngModel)]="modalData.psw">
      </div>
      <div class="modal-input-group">
        <label>密码确认</label>
        <input type="text" name="pwd1" value="" [(ngModel)]="modalData.psw1">
      </div>
      <div class="modal-btn-group">
        <button type="submit">保存</button>
      </div>
    </form>
    <div class="modal-close" (click)="toggleModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
