<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getBonusWithdrawList(1)">
          <div class="input-group">
            <label>流水号</label>
            <input type="text" name="orderId" value="" [(ngModel)]="filterData.sn">
          </div>
          <div class="input-group">
            <label>账号</label>
            <input type="text" name="mobile" value="" [(ngModel)]="filterData.mobile">
          </div>
          <div class="input-group">
            <label>支付账号</label>
            <input type="text" name="name" value="" [(ngModel)]="filterData.cardNumber">
          </div>
          <div class="input-group">
            <label>支付类型</label>
            <input type="text" name="name" value="" [(ngModel)]="filterData.cardNumber">
          </div>
          <!--<div class="input-group">-->
            <!--<label>状态</label>-->
            <!--<input type="text" name="name" value="" [(ngModel)]="filterData.status">-->
          <!--</div>-->
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>流水号</th>
            <th>用户账号</th>
            <th>银行卡号</th>
            <th>支付类型</th>
            <th>会员类型</th>
            <th>金额</th>
            <th>提现时间</th>
            <th>提现状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.sn}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.card_number}}</td>
            <td>{{financeFunction.getBounsCardTypeText(item.card_type)}}</td>
            <td>{{financeFunction.getBounsUserTypeText(item.type)}}</td>
            <td>{{item.money}}</td>
            <td>{{item.create_time}}</td>
            <td>{{financeFunction.getBounsStatusText(item.status)}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleReadModal(item)">查看</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls (pageChange)="getBonusWithdrawList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!--查看-->
<div class="modal-wrapper read-modal-wrapper" [class.hidden]="!readModalShow">
  <div class="modal-con">
    <h3 class="modal-title">详情</h3>
    <form class="modal-detail-content">
      <div class="modal-detail-item">
        <label>订单流水号</label>
        <div class="value">{{modalData.sn}}</div>
      </div>
      <div class="modal-detail-item">
        <label>用户账号</label>
        <div class="value">{{modalData.mobile}}</div>
      </div>
      <div class="modal-detail-item">
        <label>交易方式</label>
        <div class="value">{{modalData.trade_mode}}</div>
      </div>
      <div class="modal-detail-item">
        <label>云付通账号</label>
        <div class="value">{{modalData.yft_account}}</div>
      </div>
      <div class="modal-detail-item">
        <label>充值时间</label>
        <div class="value">{{modalData.create_time}}</div>
      </div>
      <div class="modal-detail-item">
        <label>金额</label>
        <div class="value">{{modalData.money}}</div>
      </div>
      <div class="modal-detail-item">
        <label>状态</label>
        <div class="value">{{financeFunction.getRechageOrderStatusText(modalData.status)}}</div>
      </div>
      <div class="modal-btn-group">
        <button>关闭</button>
      </div>
    </form>
    <div class="modal-close" (click)="toggleReadModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
