<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getYoukaUserList(1)">
          <div class="input-group">
            <label>会员账号</label>
            <input type="text" name="mobile" value="" [(ngModel)]="filterData.mobile">
          </div>
          <div class="input-group">
            <label>会员等级</label>
            <select-box [options]="levelOptions" [name]="level" (optionSelect)="filterData.level = $event"></select-box>
          </div>
          <div class="input-group">
            <label>城市</label>
            <city-picker [name]="regionId" (change)="filterData.regionId = $event"></city-picker>
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>会员账号</th>
            <th>上级会员</th>
            <th>会员等级</th>
            <th>注册时间</th>
            <th>最后登陆时间</th>
            <th>最后登陆IP</th>
            <th>所属城市</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.member_mobile}}</td>
            <td>{{item.upmember_mobile}}</td>
            <td>{{item.member_level_name}}</td>
            <td>{{item.create_time}}</td>
            <td>{{item.last_login_time}}</td>
            <td>{{item.last_login_ip}}</td>
            <td>{{cityPickerServer.codeToText(item.region_name)}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="#">编辑</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls  (pageChange)="getYoukaUserList($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
