<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getRelationList(1)">
          <div class="input-group">
            <label>会员账号</label>
            <input type="text" name="mobile" value="" [(ngModel)]="filterData.mobile">
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>会员账号</th>
            <th>注册时间</th>
            <th>上级会员</th>
            <th>会员等级</th>
            <th>一级市场</th>
            <th>二级市场</th>
            <th>三级市场</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.mobile}}</td>
            <td>{{item.create_time}}</td>
            <td>{{item.parent_member_account}}</td>
            <td>{{usersFunction.getUserLevelText(item.member_level_name)}}</td>
            <td>{{item.level}}</td>
            <td>{{item.level2}}</td>
            <td>{{item.level3}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleModal()">查看</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls (pageChange)="getRelationList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!modalShow">
  <div class="modal-con">
    <h3 class="modal-title">订单详情</h3>
    <div class="modal-detail">
      <div class="modal-user-info">
        <img class="modal-user-img" src="">
        <span class="modal-user-name">小白兔爱吃菜</span>
      </div>
      <div class="modal-detail-content">
        <div class="modal-half modal-half-left">
          <div class="modal-detail-item">
            <label>云洗账号</label>
            <div class="value">yxoo1</div>
          </div>
          <div class="modal-detail-item">
            <label>用户账号</label>
            <div class="value">14555454554</div>
          </div>
          <div class="modal-detail-item">
            <label>下一级（人）</label>
            <div class="value">1566666666</div>
          </div>
          <div class="modal-detail-item">
            <label>下二级（人）</label>
            <div class="value">1566666666</div>
          </div>
          <div class="modal-detail-item">
            <label>下三级（人）</label>
            <div class="value">1566666666</div>
          </div>
          <div class="modal-detail-item">
            <label>手机号</label>
            <div class="value">1566666666</div>
          </div>
          <div class="modal-detail-item">
            <label>性别</label>
            <div class="value">男</div>
          </div>
          <div class="modal-detail-item">
            <label>身份证号</label>
            <div class="value">422200198705061194</div>
          </div>
        </div>
        <div class="modal-half modal-half-right">
          <div class="modal-detail-item">
            <label>云洗账号</label>
            <div class="value">4564654</div>
          </div>
          <div class="modal-detail-item">
            <label>生日</label>
            <div class="value">2000-01-01</div>
          </div>
          <div class="modal-detail-item">
            <label>地区</label>
            <div class="value">1566666666</div>
          </div>
          <div class="modal-detail-item">
            <label>会员等级</label>
            <div class="value">钻石</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-close" (click)="toggleModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
