<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getPartnerApplyList(1)">
          <div class="input-group">
            <label>会员账号</label>
            <input type="text" name="mobile" value="" [(ngModel)]="filterData.mobile">
          </div>
          <div class="input-group">
            <label>申请时间</label>
            <input type='text' name="createTime" value={{selDate}} (change)="setInputDate($event)"/>
            <date-picker
              [value]="value"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [disableDays]="disableDays"
              [toContainPrevMonth]="toContainPrevMonth"
              [toContainNextMonth]="toContainNextMonth"
              (selectedDate)='setDate($event)'></date-picker>
          </div>
          <div class="input-group">
            <label>合伙人级别</label>
            <select-box [name]="partnerLevelId" [options]="partnerFunction.partnerLevelOptions" (optionSelect)="filterData.partnerLevelId = $event"></select-box>
          </div>
          <div class="input-group">
            <label>城市</label>
            <city-picker [name]="regionId" (change)="filterData.regionId = $event"></city-picker>
          </div>
          <div class="input-group">
            <label>状态</label>
            <select-box [name]="status" [options]="partnerFunction.partnerApplyStatusOptions" (optionSelect)="filterData.status = $event"></select-box>
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>代理区域</th>
            <th>合伙人级别</th>
            <th>申请时间</th>
            <th>经办人</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.agreement_code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.mobile}}</td>
            <td>{{cityPickerServer.codeToText(item.region_name)}}</td>
            <td>{{partnerFunction.getPartnerLevelText(item.partner_level)}}</td>
            <td>{{item.create_time}}</td>
            <td>{{item.handler}}</td>
            <td>{{partnerFunction.getPartnerApplyStatusText(item.status)}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleModal()">查看</a>
                <a class="table-btn" href="javascript:void(0);">复核</a>
                <a class="table-btn" href="javascript:void(0);">删除</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls  (pageChange)="getPartnerApplyList($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!modalShow">
  <div class="modal-con">
    <h3 class="modal-title">订单详情</h3>
    <div class="modal-detail">
      <div class="modal-detail-content">
        <div class="modal-half modal-half-left">
          <div class="modal-detail-item">
            <label>编号</label>
            <div class="value">46846541654</div>
          </div>
          <div class="modal-detail-item">
            <label>代理区域</label>
            <div class="value">广州</div>
          </div>
          <div class="modal-detail-item">
            <label>代理级别</label>
            <div class="value">高级</div>
          </div>
          <div class="modal-detail-item">
            <label>用户账号</label>
            <div class="value">136587899849</div>
          </div>
          <div class="modal-detail-item">
            <label>姓名</label>
            <div class="value">张三</div>
          </div>
          <div class="modal-detail-item">
            <label>身份证</label>
            <div class="value">44015646543513548643</div>
          </div>
          <div class="modal-detail-item">
            <label>联系手机</label>
            <div class="value">156234789963</div>
          </div>
        </div>
        <div class="modal-half modal-half-right">
          <div class="modal-detail-item">
            <label>推介人</label>
            <div class="value">黄吴</div>
          </div>
          <div class="modal-detail-item">
            <label>推介人电话</label>
            <div class="value">165325646846</div>
          </div>
          <div class="modal-detail-item">
            <label>推介人身份证</label>
            <div class="value">44056653216846511659</div>
          </div>
          <div class="modal-detail-item">
            <label>经办人</label>
            <div class="value">李四</div>
          </div>
          <div class="modal-detail-item">
            <label>合同编号</label>
            <div class="value">5461346846316</div>
          </div>
          <div class="modal-detail-item">
            <label>摘要</label>
            <div class="value">空</div>
          </div>
          <div class="modal-detail-item">
            <label>复核意见</label>
            <div class="value">空</div>
          </div>
          <div class="modal-detail-item">
            <label>审批意见</label>
            <div class="value">空</div>
          </div>
          <div class="modal-detail-item">
            <label>备注</label>
            <div class="value">空</div>
          </div>
          <div class="modal-detail-item">
            <label>创建时间</label>
            <div class="value">2016-08-06</div>
          </div>
          <div class="modal-detail-item">
            <label>修改时间</label>
            <div class="value">254156435</div>
          </div>
          <div class="modal-detail-item">
            <label>状态</label>
            <div class="value">通过</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-btn-group">
      <button (click)="toggleModal()">关闭</button>
    </div>
    <div class="modal-close" (click)="toggleModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
