<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getPartnerApplyList(1)">
          <div class="input-group">
            <label>会员账号</label>
            <input type="text" name="mobile" value="" [(ngModel)]="filterData.mobile">
          </div>
          <div class="input-group">
            <label>申请时间</label>
            <select-box [options]="funcServer.dateRangeOptions" (optionSelect)="filterData.createTime"></select-box>
          </div>
          <div class="input-group">
            <label>合伙人级别</label>
            <select-box [name]="filterData.partnerLevelId" [options]="partnerFunction.partnerLevelOptions"
                        (optionSelect)="filterData.partnerLevelId = $event"></select-box>
          </div>
          <div class="input-group">
            <label>城市</label>
            <city-picker [name]="filterData.regionId" (change)="filterData.regionId = $event"></city-picker>
          </div>
          <div class="input-group">
            <label>状态</label>
            <select-box [name]="filterData.status" [options]="partnerFunction.partnerApplyStatusOptions"
                        (optionSelect)="filterData.status = $event"></select-box>
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>代理区域</th>
            <th>合伙人级别</th>
            <th>申请时间</th>
            <th>经办人</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.agreement_code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.region_name}}</td>
            <td>{{item.partner_level}}</td>
            <td>{{item.create_time}}</td>
            <td>{{item.handler}}</td>
            <td>{{partnerFunction.getPartnerApplyStatusText(item.status)}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);"  (click)="toggleModal(item)">查看</a>
                <a class="table-btn" href="javascript:void(0);" [class.hidden]="item.status !==0" (click)="toggleCheckModal(item)">审批</a>
                <a class="table-btn" href="javascript:void(0);" [class.hidden]="item.status !==2" (click)="toggleCheckModal(item)">复核</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls (pageChange)="getPartnerApplyList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper" [class.hidden]="!readModalShow" *ngIf="readModalData">
  <div class="modal-con">
    <h3 class="modal-title">订单详情</h3>
    <div class="modal-detail">
      <div class="modal-detail-content">
        <div class="modal-half modal-half-left">
          <div class="modal-detail-item">
            <label>编号</label>
            <div class="value">{{readModalData.sn}}</div>
          </div>
          <div class="modal-detail-item">
            <label>代理区域</label>
            <div class="value">{{readModalData.name}}</div>
          </div>
          <div class="modal-detail-item">
            <label>代理级别</label>
            <div class="value">{{readModalData.partner_level}}</div>
          </div>
          <div class="modal-detail-item">
            <label>用户账号</label>
            <div class="value">{{readModalData.user_mobile}}</div>
          </div>
          <div class="modal-detail-item">
            <label>姓名</label>
            <div class="value">{{readModalData.name}}</div>
          </div>
          <div class="modal-detail-item">
            <label>身份证</label>
            <div class="value">{{readModalData.iDcard}}</div>
          </div>
          <div class="modal-detail-item">
            <label>联系手机</label>
            <div class="value">{{readModalData.mobile}}</div>
          </div>
        </div>
        <div class="modal-half modal-half-right">
          <div class="modal-detail-item">
            <label>推介人</label>
            <div class="value">{{readModalData.referee}}</div>
          </div>
          <div class="modal-detail-item">
            <label>推介人电话</label>
            <div class="value">{{readModalData.referee_mobile}}</div>
          </div>
          <div class="modal-detail-item">
            <label>推介人身份证</label>
            <div class="value">{{readModalData.referee_idcard}}</div>
          </div>
          <div class="modal-detail-item">
            <label>经办人</label>
            <div class="value">{{readModalData.handler}}</div>
          </div>
          <div class="modal-detail-item">
            <label>合同编号</label>
            <div class="value">{{readModalData.agreement_code}}</div>
          </div>
          <div class="modal-detail-item">
            <label>摘要</label>
            <div class="value">{{readModalData.summary}}</div>
          </div>
          <div class="modal-detail-item">
            <label>审批意见</label>
            <div class="value">{{readModalData.approve}}</div>
          </div>
          <div class="modal-detail-item" [class.hidden]="readModalData.status !=2">
            <label>复核意见</label>
            <div class="value">{{readModalData.review}}</div>
          </div>
          <div class="modal-detail-item">
            <label>备注</label>
            <div class="value">{{readModalData.remark}}</div>
          </div>
          <div class="modal-detail-item">
            <label>创建时间</label>
            <div class="value">{{readModalData.create_time}}</div>
          </div>
          <div class="modal-detail-item">
            <label>修改时间</label>
            <div class="value">{{readModalData.modify_time}}</div>
          </div>
          <div class="modal-detail-item">
            <label>状态</label>
            <div class="value">{{partnerFunction.getPartnerApplyStatusText(readModalData.status)}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-btn-group">
      <button (click)="toggleModal()">关闭</button>
    </div>
    <div class="modal-close" (click)="toggleModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>

<!--审批-->
<div class="modal-wrapper" [class.hidden]="!readCheckModalShow" *ngIf="readModalData">
   <form>
  <div class="modal-con">
    <h3 class="modal-title">订单详情</h3>
    <div class="modal-detail">
      <div class="modal-detail-content">
        <div class="modal-half modal-half-left">
          <div class="modal-detail-item">
            <label>编号</label>
            <div class="value">{{readModalData.sn}}</div>
          </div>
          <div class="modal-detail-item">
            <label>代理区域</label>
            <div class="value">{{readModalData.name}}</div>
          </div>
          <div class="modal-detail-item">
            <label>代理级别</label>
            <div class="value">{{readModalData.partner_level}}</div>
          </div>
          <div class="modal-detail-item">
            <label>用户账号</label>
            <div class="value">{{readModalData.user_mobile}}</div>
          </div>
          <div class="modal-detail-item">
            <label>姓名</label>
            <div class="value">{{readModalData.name}}</div>
          </div>
          <div class="modal-detail-item">
            <label>身份证</label>
            <div class="value">{{readModalData.iDcard}}</div>
          </div>
          <div class="modal-detail-item">
            <label>联系手机</label>
            <div class="value">{{readModalData.mobile}}</div>
          </div>
           <div class="modal-detail-item">
            <label>推介人</label>
            <div class="value">{{readModalData.referee}}</div>
          </div>
          <div class="modal-detail-item">
            <label>推介人电话</label>
            <div class="value">{{readModalData.referee_mobile}}</div>
          </div>
          <div class="modal-detail-item">
            <label>推介人身份证</label>
            <div class="value">{{readModalData.referee_idcard}}</div>
          </div>
          <div class="modal-detail-item">
            <label>经办人</label>
            <div class="value">{{readModalData.handler}}</div>
          </div>
        </div>
        <div class="modal-half modal-half-right">
          <div class="modal-input-group">
            <label>合同编号</label>
            <input type="text" name="agreement_code" [(ngModel)]="readModalData.agreement_code">
          </div>
           <div class="modal-input-group">
            <label>备注</label>
            <textarea name="remark" [(ngModel)]="readModalData.remark"></textarea>
          </div>
          <div class="modal-input-group">
            <label>摘要</label>
            <textarea name="summary" [(ngModel)]="readModalData.summary"></textarea>
          </div>
          <div class="modal-input-group">
            <label>审批意见</label>
             <textarea name="approve" [(ngModel)]="readModalData.approve"></textarea>
          </div>
          <div class="modal-input-group" [class.hidden]="readModalData.status !=2">
            <label>复核意见</label>
            <textarea name="review" [(ngModel)]="readModalData.review"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-btn-group">
      <button (click)="toggleCheckModal()">关闭</button>
      <button (click)="getAuditPass(1)" [class.hidden]="readModalData.status !=0">通过</button>
      <button (click)="getAuditPass(-1)" [class.hidden]="readModalData.status !=0">不通过</button>
      <button (click)="getReexamine(1)" [class.hidden]="readModalData.status !=2">通过</button>
      <button (click)="getReexamine(-1)" [class.hidden]="readModalData.status !=2">不通过</button>
    </div>
    <div class="modal-close" (click)="toggleCheckModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
    </form>
</div>
