.modal-con {
  width: 860px;
  height: 600px;
  margin-left: -430px;
  margin-top: -300px;
  overflow-y: scroll;
}
.modal-half-right textarea{
    overflow-y:scroll;
}
.manager-page .filter-bar .input-group {
    margin-right: 10px;
}