<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix">
          <div class="input-group">
            <label>姓名/手机/订单编号</label>
            <input type="text" name="account" [(ngModel)]="filter.searchName">
          </div>
          <button class="text-btn text-sub" type="submit" (click)="getCantWeiZhangList(1)">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>编号</th>
            <!-- <th>订单编号</th> -->
            <!-- <th>车牌号</th> -->
            <!-- <th>车架号</th> -->
            <!-- <th>发动机</th> -->
            <!-- <th>姓名</th> -->
            <!-- <th>手机号</th> -->
            <th>罚款</th>
            <th>扣分</th>
            <th>服务费</th>
            <th>车行易</th>
            <th>订单总额</th>
            <th>实收金额</th>
            <th>利润</th>
            <!-- <th>违章笔数</th> -->
            <!-- <th>处罚金额(含手续费)</th>
            <th>云洗利润</th> -->
            <th>状态</th> 
            <th>操作</th>
          </tr>
          </thead>
          <tbody *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex ,totalItems: total}; let i = index">
            <tr class="weizhangListInfo">
              <td colspan="2">订单编号:{{item.sn}}</td>
              <td>车牌号:{{item.car_number}}</td>
              <td>姓名:{{item.name}}</td>
              <td>手机号:{{item.mobile}}</td>
              <td>车架号:{{item.frame_number}}</td>
              <td>发动机:{{item.engine_number}}</td>
              <td colspan="2">下单时间:{{item.create_time}}</td>
               <td>
                 <a href="javacript:void(0)" class="close-btn" [class.hidden]="item.status != 1 && item.status != 5">订单完成</a> 
                <a href="javacript:void(0)" class="close-btn" [class.hidden]="item.status !== 0 && item.status != -2" (click)="verificationConfirm(item.order_id)">关闭订单</a>
              </td>
            </tr>
            <tr>
              <td>{{i+1}}</td>
              <!-- <td>{{item.sn}}</td> -->
              <!-- <td>{{item.car_number}}</td>
              <td>{{item.frame_number}}</td>
              <td>{{item.engine_number}}</td>
              <td>{{item.name}}</td>
              <td>{{item.mobile}}</td> -->
              <td>{{item.punish_money}}</td>
              <td>{{item.punish_points}}</td>
              <td>{{item.service_fee}}</td>
              <td>{{item.cxy_service_fee}}</td>
              <td>{{sloveTrunc(item.money)}}</td>
              <td>{{item.actual_money}}</td>
              <td>{{item.profit_money}}</td>
              <td>{{getWeiZhangfilterText(item.status)}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" [routerLink]="'/admin/cantweizhanginfo/' + item.order_id">查看</a>
                <a class="table-btn" href="javascript:void(0);" [class.hidden]="item.peccancy_detail_count == '0'" (click)="toggleEditModal(item)">受理</a> 
                <a class="table-btn" href="javascript:void(0);" [class.hidden]='item.status!= 0' (click)="toggleEditModal(item)">修改</a>
                <a class="table-btn" href="javascript:void(0);" [class.hidden]='item.status!=1' (click)="comfirmOrderOfDoing(item.order_id)">办理</a>  
                <a class="table-btn" href="javascript:void(0);" [class.hidden]='item.status!=3' [routerLink]="'/admin/cloudpay-verification-list/' + item.sn">确认</a> 
                <a class="table-btn" href="javascript:void(0);" [class.hidden]='item.status!=4' (click)="comfirmOrderOfFinish(item.order_id)">完成</a> 
              </div>
            </td>
          </tr>
          </tbody>
          <tbody>
            <tr>
              <td colspan="9"></td>
            </tr>
         </tbody>
        </table>
           <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
           <pagination-controls [class.hidden]="!tableList?.length" (pageChange)="getCantWeiZhangList($event)" previousLabel="上一页"
                             nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
 <div class="modal-wrapper" [class.hidden]='!toogleModal' *ngIf="modalData">
  <div class="content" [style.height]="contentHeight + 'px'" >
       <div class="modal-con">
        <h3 class="modal-title" [class.hidden]="modalData.status != -2">办理</h3>
        <h3 class="modal-title" [class.hidden]="modalData.status != 0">修改</h3>
        <form class="modal-form"  #updateForm="ngForm" (ngSubmit)="modalSubmit(updateForm)">
          <div class="modal-detail-content">
            <div class="modal-input-group">
                <label>总罚款：</label>
                <input type="text" name="punishMoney" [(ngModel)]="modalData.punish_money" #punishMoney="ngModel" required validateNumber>
                <p *ngIf="punishMoney.errors?.required" class="validate">必填</p>
                <p *ngIf="punishMoney.errors?.validateNumber" class="validate">请填写数字</p>
            </div>
            <div class="modal-input-group">
                <label>总扣分：</label>
                <input type="text" name="punish_points" [(ngModel)]="modalData.punish_points" #punish_points="ngModel" required validateNumber>
                <p *ngIf="punish_points.errors?.required" class="validate">必填</p>
                <p *ngIf="punish_points.errors?.validateNumber" class="validate">请填写数字</p>
            </div>
            <div class="modal-input-group">
                <label>服务费：</label>
                <input type="text" name="service_fee" [(ngModel)]="modalData.service_fee" #service_fee="ngModel" required validateNumber>
                <p *ngIf="service_fee.errors?.required" class="validate">必填</p>
                <p *ngIf="service_fee.errors?.validateNumber" class="validate">请填写数字</p>
            </div>
            <div class="modal-input-group">
                <label>车行易：</label>
                <input type="text" name="cxy_service_fee" [(ngModel)]="modalData.cxy_service_fee" #cxy_service_fee="ngModel" required validateNumber>
                <p *ngIf="cxy_service_fee.errors?.required" class="validate">必填</p>
                <p *ngIf="cxy_service_fee.errors?.validateNumber" class="validate">请填写数字</p>
            </div>
            <div class="modal-input-group">
                <label>订单总额：</label>
                <!-- <div class="value">{{(modalData.punish_money+modalData.cxy_service_fee)*1.2}}</div> -->
                <input type="text" name="money" [(ngModel)]="modalData.money" #money="ngModel" required validateNumber>
                <p *ngIf="money.errors?.required" class="validate">必填</p>
                <p *ngIf="money.errors?.validateNumber" class="validate">请填写数字</p>  
            </div>
            <div class="modal-detail-item">
                <label>实收金额：</label>
                 <div class="value">{{modalData.money*0.85}}</div> 
                 <!-- <input type="text" name="actual_money" [(ngModel)]="modalData.actual_money" disabled="disabled">  -->
            </div>
            <div class="modal-detail-item">
                <label>利润：</label>
                 <div class="value">{{sloveTrunc(modalData.money*0.85-modalData.punish_money-modalData.cxy_service_fee)}}</div> 
                <!-- <input type="text" name="profit_money" [(ngModel)]="modalData.profit_money" disabled="disabled"> -->
            </div>
          </div>
          <div class="modal-btn-group">
            <button type="submit">确定</button>
            <button type="button" (click)="toggleEditModal()">关闭</button>
          </div>
        </form>
        <div class="modal-close" (click)="toggleEditModal()">
          <i class="icon-font">&#xe6e9;</i>
        </div>
        </div>
  </div>
</div>
