.modal-con{
    width:800px;
    height:580px;
    margin-left:-400px;
    margin-top:-290px;
}
.item-content{
    display: block; 
    width:120px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.modalContent{
    width: 96%;
    height:320px;
    font-size:14px;
    overflow-y:scroll;
}
.modal-detail-item .value{
    text-align:left;
}
.modal-input-group{
    font-size: 16px;
}
