<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getYoukaUserList(1)">
          <div class="input-group">
            <label>门店编号</label>
            <input type="text" name="mobile" value="" [(ngModel)]="filterData.code">
          </div>
          <div class="input-group">
            <label>状态</label>
            <select-box [options]="shopFunction.shopStatusOptions" [name]="level" (optionSelect)="filterData.status = $event"></select-box>
          </div>
          <div class="input-group">
            <label>城市</label>
            <city-picker [name]="regionId" (change)="filterData.regionId = $event"></city-picker>
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>门店编号</th>
            <th>用户账号</th>
            <th>店主姓名</th>
            <th>所属城市</th>
            <th>门店名称</th>
            <th>经营范围</th>
            <th>联系电话</th>
            <th>余额</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{item.code}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.name}}</td>
            <td>{{cityPickerServer.codeToText(item.region_name)}}</td>
            <td>{{item.shop_name}}</td>
            <td>{{item.business_scope}}</td>
            <td>{{item.legal_person_mobile}}</td>
            <td>{{item.money}}</td>
            <td>{{shopFunction.getShopStatusText(item.status)}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="#">查看</a>
                <a class="table-btn" href="#">编辑</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls  (pageChange)="getYoukaUserList($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
