<div class="manager-page">
  <div class="header">
    <h3>{{title}}<s></s></h3>
  </div>
  <div class="content" [style.height]="contentHeight + 'px'">
    <div class="content-wrapper">
      <div class="filter-bar">
        <form class="clearfix" (ngSubmit)="getAdList(1)">
          <div class="input-group">
            <label>标题</label>
            <input type="text" name="title" value="" [(ngModel)]="filterData.title">
          </div>
          <div class="input-group">
            <label>业务</label>
            <select-box [options]="adFunction.adBusinessOptions" [name]="filterData.businessId" [placeholder]="'选择'" (optionSelect)="filterData.businessId = $event"></select-box>
          </div>
          <div class="input-group">
            <label>广告位置</label>
            <select-box [options]="adFunction.adPositionOptions" [name]="filterData.positionCode" [placeholder]="'选择'" (optionSelect)="filterData.positionCode = $event"></select-box>
          </div>
          <button class="text-btn text-sub" type="submit">搜索</button>
          <a class="text-btn float-right margin-large-right" href="javascript:void(0);" (click)="toggleEditModal()">添加</a>
        </form>
      </div>
      <div class="manager-table">
        <table>
          <thead>
          <tr>
            <th>广告位置</th>
            <th>图片</th>
            <th>标题</th>
            <th>是否可见</th>
            <th>业务</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of tableList | paginate: { itemsPerPage: perPageSize, currentPage: curPageIndex, totalItems: total }; let i = index">
            <td>{{adFunction.getAdPositionText(item.position_code)}}</td>
            <td>
              <img [src]="item.ad_url" alt="" style="width:100px;height:50px;">
            </td>
            <td>{{item.title}}</td>
            <td>{{adFunction.getAdVisibleStatusText(item.is_show)}}</td>
            <td>{{adFunction.getAdBusinessText(item.business_id)}}</td>
            <td>{{item.create_time}}</td>
            <td>
              <div class="table-btns">
                <a class="table-btn" href="javascript:void(0);" (click)="toggleEditModal(item)">编辑</a>
                <a class="table-btn" href="javascript:void(0);" (click)="verificationConfirm(item.ad_id)">删除</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!tableList?.length" class="none-data">没有符合条件的数据</div>
        <pagination-controls  (pageChange)="getAdList($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!--编辑-->
<div class="modal-wrapper edit-modal-wrapper" [class.hidden]="!editModalShow" *ngIf="editModalData">
  <div class="modal-con">
    <h3 class="modal-title" [class.hidden]="editModalData.ad_id">添加</h3>
    <h3 class="modal-title" [class.hidden]="!editModalData.ad_id">编辑</h3>
    <form class="modal-form" (ngSubmit)="modalSubmit()">
      <div class="modal-input-group">
        <label>标题</label>
        <input type="text" name="title" [(ngModel)]="editModalData.title">
      </div>
      <div class="modal-input-group">
        <label>业务</label>
        <select-box [options]="adFunction.adBusinessOptions"
                    [value]="editModalData.business_id"
                    (optionSelect)="editModalData.business_id = $event"></select-box>
      </div>
      <div class="modal-input-group">
        <label>是否可见</label>
        <select-box [options]="adFunction.adVisibleStatusOptions"
                    [value]="editModalData.is_show"
                    (optionSelect)="editModalData.is_show = $event"></select-box>
      </div>
      <div class="modal-input-group">
        <label>广告位置编码</label>
        <select-box [options]="adFunction.adPositionOptions"
                    [value]="editModalData.position_code"
                    (optionSelect)="editModalData.position_code = $event"></select-box>
      </div>
      <div class="modal-input-group">
        <label>排序</label>
        <input type="text" name="sort" [(ngModel)]="editModalData.sort">
      </div>
      <div class="modal-input-group">
        <label>图片</label>
        <img-upload [img]="{url:fileModalData.url}"
                  [selectable]="false"
                  (afterChange)="fileModalData = $event"
                  ></img-upload>
      </div>
      <div class="modal-btn-group">
        <button type="submit">保存</button>
      </div>
    </form>
    <div class="modal-close" (click)="toggleEditModal()">
      <i class="icon-font">&#xe6e9;</i>
    </div>
  </div>
</div>
